<template>
<div class="ibox">
		<div class="ibox-title">
			<div class="row">
				<div class="col-8">
					<strong>Penilaian Penjualan Depo</strong>
				</div>
				<div class="col-4">

					<form method="post"  v-on:submit.prevent="showPenjualan">
						<div class="input-group input-group-sm">
						<date-picker-component :optionDate="option"></date-picker-component>
						<span class="input-group-append">
							<button type="submit" class="btn btn-primary btn-outline">Go!</button>
						</span>
						</div>
					</form>
				</div>
			</div>
		</div>
		<div class="ibox-content">
			<div class="row">
				<div id="excel" ref="spreadsheet"></div>
    			<!-- <div>
    				<input type="button" value="Add new row" @click="() => spreadsheet.insertRow()" />
    			</div> -->
			</div>
		</div>
	</div>
</template>
<script>
import datePicker from '../plugin/DatePickerComponent'
import jexcel from 'jexcel'
import 'jexcel/dist/jexcel.css'

export default {
	data:()=>{
		return {
			masterData:{},
			option:{'name':'datePicker','type':'text'},
			excel:{
				kwp:null,
				data: [],
				style:{
					 	A1:'font-weight: bold; color:black; background-color: orange;',
        				C1:'font-weight: bold; color:black; background-color: orange;',
        				D1:'font-weight: bold; color:white; background-color: #006600;',
        				A2:'font-weight: bold; color:black; background-color: orange;',
        				B2:'font-weight: bold; color:black; background-color: orange;',
        				D2:'font-weight: bold; color:black; background-color: #1aff66;',
        				E2:'font-weight: bold; color:black; background-color: #1aff66;',
        				F2:'font-weight: bold; color:black; background-color: #1aff66;',
        				G2:'font-weight: bold; color:black; background-color: #1aff66;',
        				H2:'font-weight: bold; color:black; background-color: #1aff66;',
        				I2:'font-weight: bold; color:black; background-color: #1aff66;',
        				J2:'font-weight: bold; color:black; background-color: #1aff66;',
        				K2:'font-weight: bold; color:black; background-color: #1aff66;',
        				L1:'font-weight: bold; color:white; background-color: #0080ff;',
        				L2:'font-weight: bold; color:black; background-color: #00bfff;',
        				M2:'font-weight: bold; color:black; background-color: #00bfff;',
        				N2:'font-weight: bold; color:black; background-color: #00bfff;',
        				O2:'font-weight: bold; color:black; background-color: #00bfff;',
        				P2:'font-weight: bold; color:black; background-color: #00bfff;',
        				Q2:'font-weight: bold; color:black; background-color: #00bfff;',
        				R2:'font-weight: bold; color:black; background-color: #00bfff;',
				},
			}
		}
	},
	components:{
        'date-picker-component':datePicker
    },
    computed:{
    	penjualan:{
    			// getter
			    get: function () {
			     	// return this
			    },
			    // setter
			    set: function (penjualan) {
			      return _.map(this.masterData.master,function(v,i){
			      	// console.log(penjualan)
			      		return _.takeWhile(penjualan, {id_depo:v.depo});
			      })
			     
			    }
    	}
    },
    methods:{
    	showPenjualan(e){
    		e.preventDefault()
    		let formData = new FormData(e.target);
    		let postData
    		formData.forEach((v,i)=>{
    			postData = {tanggal:v}
    		})
    		axios.post('/report/penilaian/get_penjualan',postData).then((r)=>{
    			if(r.data.status)
    			{
    				alert('tidak ada data tanggal: '+postData.tanggal)
    			}else{
    			
					const excel = document.getElementById('excel');
    				jexcel.destroy(excel);
    				let arr = [];
    				for (const x of r.data.data) {
    					// console.log('json string--->',x)
    					if(x.length > 2){
    						const xx = JSON.parse(x)
    						for (const obj of xx) {
    							let tmp = {}
    							tmp.id_depo = obj.id_depo;
    							tmp.jual = obj.jual;
    							tmp.kode_barang = obj.kode_barang;
    							tmp.kw = obj.kw
    							arr.push(tmp)
    						}
    					}
    				}
    				// console.log('data array--->',arr)

    				this._gridPenilaian(excel,arr)
    			}
    		}).catch((e)=>{
    			console.log(e);
    		})

    	},
    	_buatPenjualan(penjualan)
    	{
    		const jual = _.groupBy(penjualan,'id_depo') // data penjualan perhari
    		// console.log('penjualan nya--->',jual);

    		for (var i = this.excel.data.length - 1; i >= 0; i--) {
    			const row = this.excel.data[i] // data grid excel nya
    			if(jual[row.A])
    			{
    			// console.log('yang ada penjualan per depo',jual[row.A]);
    					let tmp = new Object;
    						tmp.grpByKode =(a,i)=>{
    							let x = {}
    							x['kode'] = a.kode_barang.charAt(0);
    							x['jual'] = a.jual;
    							x['kw'] = a.kw;
    							return x
    						}
    						tmp.dataPenjualan = _.groupBy(_.map(jual[row.A],tmp.grpByKode),'kode');
    						const p = _.map(tmp.dataPenjualan,(a,i)=>{ 
										return {
													'jual':_.sumBy(a,'jual'), 
													'kode':i,
													'kw':_.sumBy(a,(a)=>{ 
														if(a.kw === 'P')
														{
															return a.jual
														}
													})
    											}
    								}) // cari total penjualan berdasarkan brand

    						for (let iz = p.length - 1; iz >= 0; iz--) {
    							// console.log('looping lagi summary penjualan-->',p[iz])
    							switch (p[iz].kode) {
    								case 'P':
    									row.D = p[iz].jual
    									break;
    								case 'H':
    									row.E = p[iz].jual
    									break;
    								case 'G':
    									row.F = p[iz].jual
    									break;
    								case 'M':
    									row.G = p[iz].jual
    									break;
    								default:
    									
    									break;
    							}
    							// console.log(p[iz])
    							if(p[iz].kw !== 'undefined')
    							{
    								row.M = p[iz].kw
    							}
    						}
    						// console.log('data penjualana fix', p)
    						// console.log('row excel grid ', row)
    			}
    			// return row;
    			// console.log(row)
    		}

    	},
    	_buatRumusExcel(jmlRow)
    	{
    		let CELL = (val)=>{
    			console.log(val)
    		}
    		let idx = 1;
    		for (var i = 0; i < jmlRow.length; i++) {
    			const idxx = idx++;
    			if(idxx > 2){
    				const t = `=D${idxx}+E${idxx}+F${idxx}+G${idxx}`;
    				jmlRow[i]['H'] = t;
    				const p = `=H${idxx}*100/C${idxx}`;
    				jmlRow[i]['J'] = p;
    				const r = p;
    				jmlRow[i]['I'] = r;
    				jmlRow[i]['K'] = r;
    				const phu = `=D${idxx}+E${idxx}+G${idxx}`;
    				jmlRow[i]['L'] = phu;
    				const al = `=F${idxx}`;
    				jmlRow[i]['N'] = al;
    				const tot = `=SUM(L${idxx}:N${idxx})`;
    				jmlRow[i]['O'] = tot;
    				jmlRow[i]['P'] = tot;
    				const pr = `=O${idxx}*100/C${idxx}`;
    				jmlRow[i]['Q'] = pr;
    				const rk = pr;
    				jmlRow[i]['R'] = rk;


    				
    				// console.log(jmlRow[i]);
    			}
    		}
    	},
    	_gridPenilaian(el,penjualan){
    		let headerExcel = [
    			{
    				A:'Depo / Wilayah',B:'',C:'Target',D:'Pencapaian Sebelum Konversi',E:'HAR',F:'ATN',
    				G:'MUS',H:'Total',I:'Rk Qty',J:'%',K:'Rk %',L:'Pencapaian Setelah Konversi',M:'',
    				N:'',O:'',P:'',Q:'',R:''
    			},
    			{
    				A:'Kode Depo',B:'Nama Depo',C:'',D:'PIC',E:'HAR',F:'ATN',G:'MUS',H:'Total',
    				I:'Rk Qty',J:'%',K:'Rk %',L:'PHU',M:'KW P',N:'AL',O:'Total',P:'Rk Qty',Q:'%',R:'Rk %'
    			},
    		]
    		
    		this.excel.data = _.concat(headerExcel,this.masterData.master);
    		this._buatRumusExcel(this.excel.data)
    		this._buatPenjualan(penjualan);

    		// console.log(this.excel.data);
    		
    		let option = {
						  data:this.excel.data,
						  allowToolbar:true,
						  defaultColWidth: 100,
						  tableOverflow: true,
						  tableWidth: "1000px",
						  tableHeight:"100%",
						  // columns: [
						  //       { type: 'text', title:'A', width:120 },
						  //       { type: 'text', title:'B', width:120 },
						  //       // { type: 'text', title:'C', width:50, editor:customColumn},
						  //       // { type: 'numeric', title:'D', mask:'#.##,00', decimal:',', width:50 },
						  //       // { type: 'numeric', title:'E', mask:'#.##,00', decimal:',', width:50 },
						  //       // { type: 'numeric', title:'F', mask:'#.##,00', decimal:',', width:50 },
						  //       // { type: 'numeric', title:'G', mask:'#.##,00', decimal:',', width:50 },
						  //       // { type: 'image', title:'Photo', width:120 },
						  //       // { type: 'checkbox', title:'Stock', width:80 },
						  //       // { type: 'numeric', title:'Price', width:100, mask:'$ #.##,00', decimal:',' },
						  //       // { type: 'color', width:100, render:'square', }
						  //    ],
						  style:this.excel.style,
					}
    		let spreadsheet = jexcel(el, option)
    		// Object.assign(this, { spreadsheet })
    		// spreadsheet.setStyle('A2', 'background-color', 'black')
    		spreadsheet.setMerge('A1',2,1);
    		spreadsheet.setMerge('C1',1,2);
    		spreadsheet.setMerge('D1',8,1);
    		spreadsheet.setMerge('L1',7,1);

    	}
    },
	mounted(){
		let that = this;
		axios.get('/report/penilaian/get_data').then(function(r){
			// that.masterData = r.data
			that.masterData.master = _.map(_.sortBy(r.data.depo, ['urut_depo']), function(value, key) {
			  const target = _.find(r.data.target,{'m_depo_id':Number(value.id)});
			  	return {A:value.id_depo,B:value.nama_depo,C:target.target};
			});
			that.masterData.brand = _.compact(_.map(r.data.brand,function(x){
				if(x.status_brand == 'Y')
				{
					return {kode:x.kode_brand,nama:x.nama_brand}
				}
			}))
		}).catch(function(e){
			console.log(e)
		})
	}
}

</script>