<template>
	<div class="ibox">
		<div class="ibox-title">
			Target Penjualan Perbulan
		</div>
		<div class="ibox-content">
			<div class="row">
				<div v-for="item in target" class="col-4">
					<form  method="post" accept-charset="utf-8" v-on:submit.prevent="saveData">
						<label class="col-lg-2 col-form-label font-bold text-success text-uppercase">{{item.depo.nama_depo}}</label>
						<div class="input-group input-group-sm">
							<input type="text" :name="item.id" v-on:input="item.target = $event.target.value" v-bind:value="item.target" class="form-control" >
							<span class="input-group-append">
								<button type="submit" class="btn btn-primary">Save</button>
							</span>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</template>
<script>
	export default{
		data:()=>{
			return {
				target:null,
				frmData:null
			}
		},
		methods:{
			saveData(e){
				 e.preventDefault();
				 let formData = new FormData(e.target);
				 formData.forEach((key, value) => {
				 	const send = {value:key,where:value};
				 	axios.post('/report/target/save_target',send).then(function(a){
				 		console.log(a);
				 	}).catch(function(error){
				 		console.log(error)
				 	});
				 });
			}
		},
		mounted(){
			let that = this
			axios.get('/report/target/get_depo').then(function(res){
				that.target = res.data;
				console.log(res.data);
			}).catch(function(error) {
				console.log(error)
			})
		}
	}
</script>