@import "~bootstrap/scss/bootstrap";
td.details-control {
    // background: url('../resources/details_open.png') no-repeat center center;
    content: "\e081";
    cursor: pointer;
}
tr.shown td.details-control {
    // background: url('../resources/details_close.png') no-repeat center center;
    content: "\e082";
}