body {
    font-family: Arial, Helvetica, sans-serif;
}
h3 {
    text-align: center;
}
.header {
    font-size: 80%;
}

.content {
    font-size: 60%;
}
.thead {
    text-align: center;
    font-size: 11px;
    font-weight: bold;
}
.thead .kecil {
    text-align: left;
    font-size: 9px;
    font-weight: bold;
    width: 500px;
}
.tbl-cont {
    border-collapse: collapse;
    border: 1px solid black;
}

.tbl-cont th {
    border: 1px solid black;
}

table.c {
    table-layout: auto;
}

table.tbl-r {
        width: 100%;
        border-collapse: collapse;
}
table.tbl-r td, table.tbl-r th {
        border: 1px solid #0D1113;
}
table.tbl-r td.br-tbl-abs, table.tbl-r th.br-tbl-abs {
        border: 2px solid #0D1113;
}
table.tbl-r td.br-tbl-a {
        border-top: 2px solid #0D1113;
}
table.tbl-r td.br-tbl-b {
        border-bottom: 2px solid #0D1113;
        border-top:1px dashed #0D1113;

}
table.tbl-r td.br-tbl-kn {
        border-right: 2px solid #0D1113;
}
table.tbl-r td.br-tbl-kr {
        border-left: 2px solid #0D1113;
}
table.tbl-r td.br-tbl-b-dot {
    border-bottom:1px dashed #0D1113;
    border-top:1px dashed #0D1113;
}
table.tbl-r td.br-tbl-kn-dot {
    border-right:1px dashed #0D1113;
}
.text-center{
    text-align:center;
}
.text-center-p{
    text-align:center;
    padding-top: 150px;
    font-weight: bold;
}
.text-right{
    text-align:right;
    padding-right: 5px;
}
.grid-container {
    display: grid;
    grid-column-gap: 1px;
    grid-template-columns: auto auto;
    /* background-color: #2196F3; */
    padding: 1px;
    }

    .grid-item {
    /* background-color: rgba(255, 255, 255, 0.8); */
    /* border: 1px solid rgba(0, 0, 0, 0.8); */
    padding: 2px;
    /* font-size: 30px; */
    /* text-align: center; */
    }
.bg-grey{
    background-color: rgba(172, 171, 171, 0.753);
    font-weight: bold;
    border-bottom: 2px solid #0D1113;
}