body,div,table,thead,tbody,tfoot,tr,th,td,p { 
    font-family:"Calibri"; 
    font-size:small; 
    border-collapse: collapse;
}
.f-xs{
    font-size:x-small; 
}
h3{
    text-align: center;
}
td{
    line-height:18px
}
th.rotate {
    /* Something you can count on */
    height: 80px;
    white-space: nowrap;
  }
  
  th.rotate > div {
    transform: 
      /* Magic Numbers */
      translate(10px, 25px)
      /* 45 is really 360 - 45 */
      rotate(90deg);
    width: 10px;
  }
  th.rotate > div > span {
    /* border-bottom: 1px solid #ccc; */
    padding-top: -10px;
  }


.t-c{
    text-align: center;
}
.t-c-pt-100{
    text-align: center;
    padding-top: 100px;
}
.user{
    position: absolute;
    right: 0px;
    top: 60px;
    /* width: 200px; */
    /* height: 120px; */
    /* border: 8px solid green; */
    /* background-color: yellow; */
}
.t-b{
    font-weight: bold;
}
.bg-tot{
    background-color: #BFBFBF;
}

    /* Border 2x */
.b-r-2x{
    border-right: 2px solid #000000;
}
.b-l-2x{
    border-left: 2px solid #000000;
}
.b-t-2x{
    border-top: 2px solid #000000;
}
.b-b-2x{
    border-bottom: 2px solid #000000;
}

/*############### border 1x ######################*/
.b-t-1x{
    border-top: 1px solid #000000;
}
.b-b-1x{
    border-bottom: 1px solid #000000;
}
.b-l-1x{
    border-left: 1px solid #000000;
}
.b-r-1x{
    border-right: 1px solid #000000;
}

/* ######## Border Dot ####################### */
.bd-t{
    border-top: 1px dotted #000000; 
}
.bd-b{
    border-bottom: 1px dotted #000000; 
}
.bd-l{
    border-left: 1px dotted #000000; 
}
.bd-r{
    border-right: 1px dotted #000000; 
}
