body {
    font-size: 12px;
}

.title{
    text-align: center;
}
.f-10{
    font-size: 10px;
}

.page-break {
    page-break-after: always;
}


/***Always insert a page break before the element***/
.pb_before {
    page-break-before: always !important;
}

/***Always insert a page break after the element***/
.pb_after {
    page-break-after: always !important;
}

/***Avoid page break before the element (if possible)***/
.pb_before_avoid {
    page-break-before: avoid !important;
}

/***Avoid page break after the element (if possible)***/
.pb_after_avoid {
    page-break-after: avoid !important;
}

/* Avoid page break inside the element (if possible) */
.pbi_avoid {
    page-break-inside: avoid !important;
}
.a { display: inline-block; width: 100px; }
.text-center{
    text-align: center;
}
.font-bold{
    font-weight: bold;
}
.with-border {
    border-collapse: collapse;
  }

.with-border thead tr td{
    border: 1px solid black;
  }
.with-border tbody tr td{
    border: 1px solid black;
    padding: 3px;
}
.with-border tfoot tr td{
    border: 1px solid black;
}
.with-border tbody tr:nth-child(even){
    background-color: #b9e2c3;
    font-weight: bold;
}
.with-border tfoot tr{
    background-color: #ffee91;
    font-weight: bold;
}