@charset "utf-8";
body {
	margin: 0px;
	padding: 0px;
	font-size:12px;
	color:#aaaaaa;
}
#wdet{
width:100px;
}
a {
	color:#666;
}
input[type=text] {
	font-size:12px;
	height:17px;
}
.btn {
	font-size:10px;
	padding:3px;
	padding-left:5px;
	padding-right:5px;
}

a:hover {
	text-decoration:none;
}
#sheet {
	width:960px;
	margin-left:auto;
	margin-right:auto;
}

.more {
	color:#222;
}
.require {
	color:#F00;
}

#header {
	background:url(../img/header-logo2.jpg) center top no-repeat;
	height: 110px;
	cursor:pointer;
	margin-top:10px;
}

#header .inner {
}

#language {
	margin-left:10px;
	margin-right:10px;
	text-align:right;
	font-weight:bold;
}
#language a {
	color:#ccc;
}
#language .active {
	color:#222;
}

#navbar {
	background:#aaa;
	margin-left:10px;
	margin-right:10px;
	height:36px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	margin-bottom:20px;
	
}

#navbar ul {
	list-style:none;
	margin:0px;
	padding:0px;
}

#navbar li {
	float: left;
	background: url(../img/bg-navbar.jpg) repeat-x center center;
	width: 180px;
	padding-top: 8px;
	min-height: 28px;
	border-right: solid #333 1px;
	text-align: center;
	color: #fff;
	font-weight: bold;
	cursor: pointer;
	font-size:14px;
	-webkit-transition: background-color 0.5s ease 0.1s;
	-moz-transition: background-color 0.5s ease 0.1s;
	-ms-transition: background-color 0.5s ease 0.1s;
	-o-transition: background-color 0.5s ease 0.1s;
	transition: background-color 0.5s ease 0.1s;
	
}
#navbar .menu {
	z-index: 50;
	-webkit-transition: background-color 0.5s ease 0.1s;
	-moz-transition: background-color 0.5s ease 0.1s;
	-ms-transition: background-color 0.5s ease 0.1s;
	-o-transition: background-color 0.5s ease 0.1s;
	transition: background-color 0.5s ease 0.1s;
}
	
#navbar li:hover{
	background:none;
}

#navbar .menu:hover {
	background:none;
	background-color:#6e676e;
}

#navbar li a {
	color:#fff;
	font-weight:bold;
	display:block;


}
#navbar li a:hover {
	text-decoration:none;
}
#navbar ul li ul{
	width:150px;
	position:absolute;
	margin-top:8px;
	margin-left:15px;
	margin-right:15px;
	background:url(../img/bg-sub-navbar.png);
	display:none;
	z-index:50;
}
#navbar ul li:hover ul {
	display:block;
}

#navbar ul li ul li {
	width:130px;
	margin-left:10px;
	margin-right:10px;
	background:none;
	border:none;
	border-bottom:#FFF 1px solid;
	margin-bottom:5px;
}
	
#navbar .first {
	-moz-border-radius: 5px 0px 0px 5px;
	-webkit-border-radius: 5px 0px 0px 5px;
	border-radius: 5px 0px 0px 5px; 
}
#navbar .last {
	height:25px;
	text-align:left;
	padding-left:25px;
	width:191px;
	border:none;
	-moz-border-radius: 0px 5px 5px 0px;
	-webkit-border-radius: 0px 5px 5px 0px;
	border-radius: 0px 5px 5px 0px;
}
#navbar input[type=text] {
	color:#FFF;
}
#navbar .search {
	height:12px;
	font-size:12px;
	background:#ccc;
	border:solid 1px #ccc;
	color:#fff;	
	-webkit-transition: all 0.5s ease 0s;
	-moz-transition: all 0.5s ease 0s;
	-ms-transition: all 0.5s ease 0s;
	-o-transition: all 0.5s ease 0s;
	transition: all 0.5s ease 0s;
	margin-top:-2px;
	
}
#navbar .search:focus{
	width:150px;
	background:#989298;
}
#main {
	margin:10px;
	
}


/*_____ HOME ________ */

#home {

}

#home .slideshow {
	margin-bottom:30px;
	height: 400px;
	padding: 10px;
	box-shadow:  #333 0px 0px 10px;
	-moz-box-shadow: #333 0px 0px 10px;
	-webkit-box-shadow:#333 0px 0px 10px;
}
#home .slideshow {
	
}

#home .sidebar {
	margin-top:20px;
}

#home .sidebar .coloumn {
	background: url(../img/bg-home-sidebar.jpg) center center repeat-x;
	height: 100px;
	padding: 10px;
	padding-top:20px;
	padding-right:15px;
	padding-left:10px;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	box-shadow: #333 0px 0px 5px;
	-moz-box-shadow: #333 0px 0px 5px;
	-webkit-box-shadow: #333 0px 0px 5px;
	font-weight: bold;
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-ms-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}


#home .sidebar .coloumn:hover{
	opacity:0.8;
	transform:scale(1.05,1.05);
	-webkit-transform:scale(1.05,1.05);
	-moz-transform:scale(1.05,1.05);
	-ms-transform:scale(1.05,1.05);
	-o-transform:scale(1.05,1.05);
}

#home .sidebar .coloumn .title{
	padding-top:10px;
	padding-bottom:11px;
}
#home .sidebar .coloumn h4 {
	margin-top:0px;
	font-size:16px;
	font-weight:bold;
}
#home .sidebar .coloumn .desc {
}
#home .sidebar .coloumn .thumb {

}


#distribution {
	margin-top:20px;
	margin-bottom:-20px;
	background-color:#b8b5b8;
	background-image:url(../img/bg-distribution-map.jpg);
	background-repeat:no-repeat;
	background-position:center top;
	height:350px;
}
#distribution .inner {
	width:800px;
	margin-left:auto;
	margin-right:auto;
}
#distribution .content {
	color:#fff;
	position:absolute;
	width:200px;
	height:150px;
	margin-left:350px;
	margin-right:150px;
	margin-top:190px;
}


/*_____ KOLEKSI _______*/
#koleksi {
}
#koleksi .sidebar {
	margin-top:-20px;
	text-align:center;
}
#koleksi .sidebar .logo1 {
	
	
	background: url(../img/bg-koleksi-sidebar-logo.jpg) repeat-x center center;
	width: 180px;
	height: 70px;
	padding-right: 5px;
	padding-left: 5px;
	
	padding-top: 1em;
	padding-bottom: 1em;
	box-shadow: #333 0px 0px 5px;
	-moz-box-shadow: #333 0px 0px 5px;
	-webkit-box-shadow: #333 0px 0px 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	margin-bottom: 23px;
	-webkit-transition: all 0.5s ease 0s;
	-moz-transition: all 0.5s ease 0s;
	-ms-transition: all 0.5s ease 0s;
	-o-transition: all 0.5s ease 0s;
	transition: all 0.5s ease 0s;
	cursor: pointer;
}
#koleksi .sidebar .logo1:hover {
	transform:scale(1.1,1.1);
	-webkit-transform:scale(1.1,1.1);
	-moz-transform:scale(1.1,1.1);
	-o-transform:scale(1.1,1.1);
	-ms-transform:scale(1.1,1.1);
}
#koleksi .sidebar .logo1:hover .bw {
	opacity:0;
}
#koleksi .sidebar .logo1:hover .color{
	opacity:1;
}
#koleksi .sidebar .logo {
	
	background: url(../img/bg-koleksi-sidebar-logo.jpg) repeat-x center center;
	/* width: 180px; */
	height: 100px;
	padding: 5px;
	box-shadow: #333 0px 0px 5px;
	-moz-box-shadow: #333 0px 0px 5px;
	-webkit-box-shadow: #333 0px 0px 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	margin-bottom: 0px;
	-webkit-transition: all 0.5s ease 0s;
	-moz-transition: all 0.5s ease 0s;
	-ms-transition: all 0.5s ease 0s;
	-o-transition: all 0.5s ease 0s;
	transition: all 0.5s ease 0s;
	cursor: pointer;
}

#koleksi .sidebar .logo img {
	object-fit: fill;
	width: 150px;
  	height: 100px;
}
#koleksi .sidebar .logo:hover {
	transform:scale(1.1,1.1);
	-webkit-transform:scale(1.1,1.1);
	-moz-transform:scale(1.1,1.1);
	-o-transform:scale(1.1,1.1);
	-ms-transform:scale(1.1,1.1);
}
#koleksi .sidebar .logo:hover .bw {
	opacity:0;
}
#koleksi .sidebar .logo:hover .color{
	opacity:1;
}
#koleksi .sidebar h3,  #koleksi .sidebar h3 a{
	font-size:14px;
	color:#C00;
	text-transform:uppercase;
	margin:0px;
}
#koleksi .sidebar h4, #koleksi .sidebar h4 a{
	font-size:14px;
	text-transform:uppercase;
	margin:0px;
}

#koleksi .sidebar .selectbar {
	text-align:left;
	background:#efefef;
	margin-left:auto;
	margin-right:auto;
	border-top:1px #ccc solid;
	width:215px;
	height:100px;
	overflow:auto;
	margin-bottom:10px;
	margin-left:-5px;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius:10px;
	
}
#koleksi .sidebar .selectbar ul{
	margin:0px;
	padding:5px;
	list-style:none;
}
#koleksi .sidebar .selectbar li a {
	display: block;
	padding: 3px;
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-ms-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;	
}
#koleksi .sidebar .selectbar li a:hover {
	background-color:#999;
	color:#FFF;
	padding-left:10px;
	text-decoration:none;
}

#koleksi .content {
	min-height:580px;
	padding:10px;
	box-shadow:  #333 0px 0px 5px;
	-moz-box-shadow: #333 0px 0px 5px;
	-webkit-box-shadow:#333 0px 0px 5px;
}

#koleksi .color {
	vertical-align: middle;
	margin-top: 0px;
	margin-left: 0px;
}

#koleksi .list-thumb {
	margin-left:20px;
	margin-right:20px;
	padding-top:10px;
	padding-bottom:10px;
	min-height:110px;
	border-bottom:#ccc 1px solid;
}
#koleksi .list-thumb ul {
	margin:0px;
	padding:0px;
	list-style:none;
}
#koleksi .list-thumb li {
	width:125px;
	padding: 10px;
	margin-left: 5px;
	margin-right: 5px;
	float: left;
	border: solid 1px transparent;
	text-align: center;
	cursor: pointer;
	-webkit-transition: all 0.5s ease 0s;
	-moz-transition: all 0.5s ease 0s;
	-ms-transition: all 0.5s ease 0s;
	-o-transition: all 0.5s ease 0s;
	transition: all 0.5s ease 0s;
	
}
#koleksi .list-thumb li:hover {
	box-shadow:#333 0px 2px 10px;
	border-radius:5px;
}
#koleksi .list-thumb li img {
	margin-bottom:20px;	
	-webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(80%, transparent), to(white));
	/*width:false;*/
	height:auto;
}
#koleksi .list-thumb li p {
	line-height:15px;
	margin:0px;
	font-weight:bold;
}
#koleksi .pagination {
	text-align:right;
	height:20px;
	margin:10px;
}
#koleksi .pagination a {
	font-weight:bold;
	margin-right:10px;
}
#koleksi .pagination a:hover {
	opacity:0.7;
}
#koleksi .bigbang {
	height:350px;
	width:650;
	margin:15px;
	margin-bottom:10px;
	box-shadow:  #333 0px 0px 10px;
	-moz-box-shadow: #333 0px 0px 10px;
	-webkit-box-shadow:#333 0px 0px 10px;
	overflow:hidden;
}

#koleksi .detail {
}
#koleksi .detail ul {
	padding:0px;
	margin:0px;
	list-style:none;
}
#koleksi .detail li {
	float: left;
	margin-right: 10px;
	max-width: 100px;
	text-align: center;
	cursor: pointer;
	
}
/* puter 90 derajat */
/* #koleksi .detail li:hover img {
		z-index:2000;
		margin-top:-30px;
		margin-bottom:50px;

	  	position: relative;
		transform:scale(2,2);
		-webkit-transform:scale(2,2) ;
		-moz-transform:scale(2,2);
		-webkit-box-reflect:none;
} */
/* #koleksi .detail li p {
	line-height:15px;
	margin:0px;

} */
#koleksi .detail li img {

	margin-bottom:20px;
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-ms-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
	-webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(85%, transparent), to(white));
}

#koleksi .desc , #koleksi .logo{
	margin-top:10px;
	text-align:center;
}
#koleksi .desc h4 {
	font-size:16px;
}
#koleksi .bigbang img {
	display:none;
}
#koleksi .bigbang .show {
	display:block;
}

/* ____ INSPIRASI ____*/
#inspirasi {
	background:#f0f0f0;
	min-height:500px;
	padding:20px;
}
#inspirasi .sidebar{
height:380px;
	font-size:14px;
	padding:20px;
	background:url(../img/bg-tentang-menu.jpg) repeat-x;
	background-color:#d1ced7;
	box-shadow:  #333 0px 0px 10px;
	-moz-box-shadow: #333 0px 0px 10px;
	-webkit-box-shadow:#333 0px 0px 10px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
#inspirasi .sidebar ul {
	padding:0px;
	margin:0px;
	list-style:none;

}
/* #inspirasi .sidebar li { */
/*  */
/* } */
#inspirasi .sidebar li a{
	font-weight:bold;
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: #CCC 1px solid;
	display: block;
	-webkit-transition: all 0.5s ease 0s;
	-moz-transition: all 0.5s ease 0s;
	-ms-transition: all 0.5s ease 0s;
	-o-transition: all 0.5s ease 0s;
	transition: all 0.5s ease 0s;
}

#inspirasi .sidebar li a:hover{
	background-color:#CCC;
	padding-left:10px;
	color:#FFF;
}
#inspirasi .bigbang {
	background:#FFF;
	padding:10px;
	box-shadow:  #333 0px 0px 5px;
	-moz-box-shadow: #333 0px 0px 5px;
	-webkit-box-shadow:#333 0px 0px 5px;
	height:350px;
	margin-bottom:20px;
	overflow:hidden;
	padding-bottom:10px;
}
#inspirasi .bigbang .biglist {
	display:none;
}
#inspirasi .bigbang img {
	width:650px;
	height:350px;
	
}
#inspirasi .bigbang .biglist .caption{
	background:#333;
	width:200px;
	padding:10px;
	position:absolute;
	margin-top:200px;
	margin-left:410px;
	color:#fff;
	opacity:0.8;
}
#inspirasi .bigbang .show {
	display:block;
}
#inspirasi .list {
	height:400px;
	border-top:1px solid #ccc;
}
#inspirasi .list ul {
	margin:0px;
	padding:0px;
	list-style:none;
}
#inspirasi .list li {
	width: 140px;
	margin: 10px;
	margin-top:15px;
	float: left;
	cursor: pointer;
	-webkit-transition: all 0.5s ease 0s;
	-moz-transition: all 0.5s ease 0s;
	-ms-transition: all 0.5s ease 0s;
	-o-transition: all 0.5s ease 0s;
	transition: all 0.5s ease 0s;
	opacity:0.8;
}
#inspirasi .list li img{
	width:140px;
	height:140px;
	box-shadow:  #333 0px 0px 5px;
	-moz-box-shadow: #333 0px 0px 5px;
	-webkit-box-shadow:#333 0px 0px 5px;
}
#inspirasi .list li:hover {
	transform:scale(1.1,1.1);
	-webkit-transform:scale(1.1,1.1);
	-moz-transform:scale(1.1,1.1);
	-o-transform:scale(1.1,1.1);
	-ms-transform:scale(1.1,1.1);
	opacity:1;
}

#baru {
	min-height:500px;
	padding-top:20px;
}

#baru .bigbang {
	background:#FFF;
	padding:10px;
	box-shadow:  #333 0px 0px 5px;
	-moz-box-shadow: #333 0px 0px 5px;
	-webkit-box-shadow:#333 0px 0px 5px;
	height:350px;
	margin-bottom:20px;
	overflow:hidden;
	padding-bottom:10px;
}
#baru .bigbang .biglist {
	display:none;
}
#baru .bigbang .biglist .caption{
	background:#333;
	width:200px;
	padding:10px;
	position:absolute;
	margin-top:200px;
	margin-left:440px;
	color:#fff;
	opacity:0.8;
}
#baru .bigbang img {
	width:680px;
	height:350px;
	
}
#baru .bigbang .green{
	width:54px;
	height:56px;
	background:url(../img/green.png) no-repeat right top;
	position:absolute;
	z-index:10;
	margin-top:-24px;
	margin-left:630px;
}
#baru .bigbang .show {
	display:block;
}

#baru .carousel {
	
}
#baru .carousel .inner-list {
	margin-left:25px;
}
#baru .carousel ul {
	margin:0px;
	padding:0px;
	list-style:none;
}
#baru .carousel li {
	
	float:left;
	margin: 10px;
	cursor:pointer;
}

.containers {
    width:142px;
	height:160px;
    display: block;
    position: relative;
    overflow: hidden;
}
#baru .carousel li:hover {
	opacity:1;
}

#baru .carousel li .green{
	width:54px;
	height:56px;
	/*
	background:url(../img/green.png) no-repeat right top;
	*/
	position:absolute;
	z-index:10;
	margin-top:-3px;
	margin-left:90px;
}
#baru .carousel li img{
	width:140px;
	height:140px;
	box-shadow:  #333 0px 0px 5px;
	-moz-box-shadow: #333 0px 0px 5px;
	-webkit-box-shadow:#333 0px 0px 5px;
	-webkit-transition: all 0.5s ease 0s;
	-moz-transition: all 0.5s ease 0s;
	-ms-transition: all 0.5s ease 0s;
	-o-transition: all 0.5s ease 0s;
	transition: all 0.5s ease 0s;
	opacity:0.7;
}
#baru .carousel li:hover img{
	opacity:1;
}
#baru .carousel .left ,#baru .carousel .right{
	position:absolute;
	margin-top:70px;
	cursor:pointer;
}
#baru .carousel .left {
	margin-left:0px;
}
#baru .carousel .right {
	margin-left:685px;
}
#baru .carousel .left:active ,#baru .carousel .right:active{
	margin-top:72px;
}
#baru a {
	color:#FFF;
}

		

/*_____ TENTANG _________ */
#tentang {
	font-size:13px;
	margin-bottom:10px;
	clear:both;
	color:#666;
}
#tentang .sidebar {
	height:700px;
	font-size:14px;
	padding:20px;
	background:url(../img/bg-tentang-menu.jpg) repeat-x;
	background-color:#d1ced7;
	box-shadow:  #333 0px 0px 10px;
	-moz-box-shadow: #333 0px 0px 10px;
	-webkit-box-shadow:#333 0px 0px 10px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
#tentang .sidebar ul {
	padding:0px;
	margin:0px;
	list-style:none;

}
#tentang .sidebar li {

}
#tentang .sidebar li a{
	font-weight:bold;
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: #CCC 1px solid;
	display: block;
	-webkit-transition: all 0.5s ease 0s;
	-moz-transition: all 0.5s ease 0s;
	-ms-transition: all 0.5s ease 0s;
	-o-transition: all 0.5s ease 0s;
	transition: all 0.5s ease 0s;
}
#tentang .sidebar li a:hover{
	background-color:#CCC;
	padding-left:10px;
	color:#FFF;
}
#tentang .content {
	height:700px;
	box-shadow:  #333 0px 0px 10px;
	-moz-box-shadow: #333 0px 0px 10px;
	-webkit-box-shadow:#333 0px 0px 10px;
	
}
#tentang .content .banner {
	overflow:hidden;
	margin-bottom:20px;
}
#tentang .content .banner ul {
	list-style:none;
}
#tentang .content .banner li {
	float:left;
	width:700px;
	height:260px;
}
#tentang .content .prev {
	width:25px;
	height:25px;
	background:url(../img/prev-bottom-sidebar.png) no-repeat center center;
	position:absolute;
	margin-left:310px;
	margin-top:265px;
	cursor:pointer;
}
#tentang .content .prev:hover {
	opacity:0.7;
	color:#063;
}
#tentang .content .next {
	width:25px;
	height:25px;
	background:url(../img/next-bottom-sidebar.png) no-repeat center center;
	position:absolute;
	margin-left:330px;
	margin-top:265px;
	cursor:pointer;
}
#tentang .content .next:hover {
	opacity:0.7;
	color:#063;
}
#tentang .content .desc {
	height:310px;
	padding-left:20px;
	padding-top:10px;
	padding-right:20px;
	margin-bottom:20px;
	margin-right:20px;
	overflow:auto;
	text-align:justify;
}
#tentang .referensi .carousel{
	padding-bottom:30px;
	padding-top:30px;
	padding-left:20px;	
}
#tentang .referensi .carousel .inner{
	padding-top:20px;
}
#tentang .referensi .carousel ul {
	margin:0px;
	padding:0px;
	list-style:none;
}
#tentang .referensi .carousel li {
	padding:5px;
	-webkit-transition: all 0.5s ease 0s;
	-moz-transition: all 0.5s ease 0s;
	-ms-transition: all 0.5s ease 0s;
	-o-transition: all 0.5s ease 0s;
	transition: all 0.5s ease 0s;
	cursor:pointer;
	opacity:0.6;
	height:100px;
	width:132px;
}
#tentang .referensi .carousel li:hover {
	background-color:#CCC;
	opacity:1;
}
#tentang .referensi .carousel .up {
	position:absolute;
	margin-left:50px;
	margin-top:-10px;
	background:url(../img/arrow-up.png) no-repeat;
	width:40px;
	height:30px;
	cursor:pointer;
	z-index:300;
}
#tentang .referensi .carousel .down {
	position:absolute;
	margin-left:50px;
	margin-top:470px;
	background:url(../img/arrow-down.png)no-repeat;
	width:40px;
	height:30px;
	cursor:pointer;
	z-index:300;
}
#tentang .referensi .bigbang {
	padding-top:20px;
	padding-bottom:10px;
}
#tentang .referensi .bigbang .caption{
	margin-right:25px;
}
#tentang .referensi .bigbang .big{
	display:none;
}
#tentang .referensi .bigbang .show{
	display:block;
}
#tentang .referensi .bigbang img{
	width:500px;
}
#tentang thead {
	background:#aaa;
	color:#fff;
}

#tentang .contact-address {
	padding-left:20px;
}
#tentang .contact-address h5 {
	border-bottom:solid 1px #ccc;
}
#tentang .contact-form {
	font-size:11px;
	padding-left:10px;
	font-weight:bold;
}


/*_____ NEWS __________*/
#news {
	font-size:13px;
	margin-bottom:10px;
	clear:both;
	color:#666;
	
}
#news .sidebar {
	height:550px;
	font-size:14px;
	padding:20px;
	min-height:500px;
	background:url(../img/bg-tentang-menu.jpg) repeat-x;
	box-shadow:  #333 0px 0px 10px;
	-moz-box-shadow: #333 0px 0px 10px;
	-webkit-box-shadow:#333 0px 0px 10px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	background-color:#d1ced7;
}
#news .sidebar ul {
	padding:0px;
	margin:0px;
	list-style:none;

}
/* #news .sidebar .submenu li { */
/*  */
/* } */
#news .sidebar .submenu li a{
	font-weight:bold;
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: #CCC 1px solid;
	display: block;
	-webkit-transition: all 0.5s ease 0s;
	-moz-transition: all 0.5s ease 0s;
	-ms-transition: all 0.5s ease 0s;
	-o-transition: all 0.5s ease 0s;
	transition: all 0.5s ease 0s;
}

#news .sidebar .submenu li a:hover, #news .sidebar .submenu .active{
	background-color:#CCC;
	padding-left:10px;
	color:#FFF;
}
#news .sidebar .archive {
	padding:20px;
}
#news .sidebar .archive ul {
	margin-left:20px;
	padding:0px;
	list-style:none;
	display:none;
}
#news .sidebar .archive .show {
	display:block;
}
#news .sidebar .archive li {
}

#news .content {
	height:550px;
	box-shadow:  #333 0px 0px 10px;
	-moz-box-shadow: #333 0px 0px 10px;
	-webkit-box-shadow:#333 0px 0px 10px;
	padding-bottom:10px;
	padding-top:20px;
	
}
#news .content .desc {
	height:500px;
	padding-left:20px;
	padding-right:10px;
	margin-right:20px;
	overflow:auto;
	text-align:justify;
}
#news .content .desc ul {
	margin:0px;
	padding:0px;
	list-style:none;
}
#news .content .desc li {
	margin-bottom:30px;
	text-align:justify;
}
#news .content .desc li h5 {
	margin-top:0px;
	font-size:12px;
}
#news .content .desc li .postdate {
	float:right;
}


/*______ DUKUNGAN _______ */
.unduh {
	min-height:80px;
	border-bottom:1px solid #ccc;
	padding-bottom:10px;
	margin-bottom:10px;
	text-align:center;
}
.unduh h5{
	text-align:left;
}
.desc-faq {
	height:400px;
	overflow:auto;
}

.dukungan .desc {
	height:300px;
	overflow:auto;
}

/* Search */
.search-page a {
	color:#06F;
	text-decoration:underline;
}

/*____ FOOTER _________*/
#footer {
	font-weight:bold;
	background:#e2e2e2;
	height:40px;
	clear:both;
}
#footer .inner {
	width: 940px;
	margin-left:auto;
	margin-right:auto;
}
#footer ul {
	list-style:none;
	margin: 0px;
	padding: 0px;
}
#footer li {
	padding:10px;
	float:left;
	-webkit-transition: background-color 0.5s ease 0s;
	-moz-transition: background-color 0.5s ease 0s;
	-ms-transition: background-color 0.5s ease 0s;
	-o-transition: background-color 0.5s ease 0s;
	transition: background-color 0.5s ease 0s;
}
#footer li:hover{
	background-color:#666;
}
#footer li:hover a {
	color:#FFF;
	text-decoration:none;
}
#footer li a {
	color:#aaa;
}
#footer .copyright {
	padding-top:10px;
	text-align:right;
}