.widget-merek {
    background-color: #ffffff;
    background-image: linear-gradient(#ffffff, #c4bfbf);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2), 0 2px 6px 0 rgba(0, 0, 0, 0.19);
    color: 000000;
    border-radius: 5px;
    margin-top: 10px;
    /* background: url(../img/logo_merek/atena_tile.png) 0 0; */
    /* left: 0px; */
    /* width: 46px; */
    /* width: 100px; */
    /* height: 500px;     */
}

.header-baner {
    /* text-align: center; */
    height: 100px;
    background-color: #ffffff;
    background-image: linear-gradient(#ffffff, #c4bfbf);
    border-radius: 5px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2), 0 2px 6px 0 rgba(0, 0, 0, 0.19);
    color: 000000;
}

.header-baner img {
    height: 5.7em;
    width: 4.5em;
    text-align: right;
    margin: 1em;
    position: absolute;
    left: 25%;
    top: 16%;
    transform: translateX(-15%) translateY(-25%);
}

.header-baner div {
    display: block;
    margin: 0 auto;
    text-align: center;
    color: black;
}

/* .header-baner h1 {
      
  } */
.header-baner p {
    top: 50%;
    left: 45%;
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2vw;
    padding: 0px;
    margin: 0px;
    transform: translateX(-25%) translateY(-50%);
}

.navbar-expand-md {
    height: 50px;
    padding: 0px;
    padding-right: 4px;
}

.carousel-caption p {
    text-shadow: 2px 2px #808080;
}

.top-navigation .navbar {
    padding-top: 0px;
    padding-bottom: 0px;
}

td.details-control {
    background: url('https://datatables.net/examples/resources/details_open.png') no-repeat center center;
    cursor: pointer;
}

tr.shown td.details-control {
    background: url('https://datatables.net/examples/resources/details_close.png') no-repeat center center;
}
