<template>
  <div class="row">
    <div class="col-lg-5">
      <div class="ibox">
        <div class="ibox-title">
          <h5>Create Slide</h5>
          <div class="ibox-tools">
            <a class="collapse-link">
              <i class="fa fa-chevron-up"></i>
            </a>
            <a class="close-link">
              <i class="fa fa-times"></i>
            </a>
          </div>
        </div>
        <div class="ibox-content">
          <ValidationObserver v-slot="{ invalid }" ref="form">
            <form @submit.prevent="onSubmit">
              <ValidationProvider name="brand" rules="required" v-slot="{ errors }">
                <div class="form-group">
                  <label>Select Merek</label>
                    <select class="form-control brands" v-model="frm.brandId" @change="getProduk($event)">
                        <option value="">::::  Select  ::::</option>
                         <option v-for="item in selectOption.brand" :value="item.id" :key="item.id">
                                {{ item.nama }}
                         </option>
                    </select>
                  <span class="form-text m-b-none text-danger">{{ errors[0] }}</span>
                </div>
              </ValidationProvider>
              
              <ValidationProvider name="produk" rules="required" v-slot="{ errors }">
                <div class="form-group">
                  <label>Select Produk</label>
                    <select class="form-control produk" v-model="frm.prodId">
                        <option value="">::::  Select  ::::</option>
                            <option 
                                v-for="item in updateProduk"
                                :value="item.id" 
                                :key="item.id"> 
                                {{ item.title }}
                            </option>
                    </select>
                  <span class="form-text m-b-none text-danger">{{ errors[0] }}</span>
                </div>
              </ValidationProvider>
              <ValidationProvider name="type" rules="required" v-slot="{ errors }">
                <div class="form-group">
                  <label>Select Type Produk</label>
                    <select class="form-control type" v-model="frm.typeId">
                        <option value="">::::  Select  ::::</option>
                        <option 
                                v-for="item in selectOption.type" 
                                :value="item.id" 
                                :key="item.id"> 
                                {{ item.title }} ({{ item.code }})
                          </option>
                    </select>
                  <span class="form-text m-b-none text-danger">{{ errors[0] }}</span>
                </div>
              </ValidationProvider>
              <ValidationProvider name="type" rules="required" v-slot="{ errors }">
                <div class="form-group">
                  <label>Select Ukuran Produk</label>
                    <select class="form-control ukuran" v-model="frm.ukuranId" @change="setImageDimension($event)">
                        <option value="">::::  Select  ::::</option>
                        <option 
                                v-for="item in selectOption.ukuran" 
                                :value="item.id" 
                                :key="item.id"> 
                                {{ item.title }}
                        </option>
                    </select>
                  <span class="form-text m-b-none text-danger">{{ errors[0] }}</span>
                </div>
              </ValidationProvider>
              <ValidationProvider name="title" rules="required|alpha_spaces" v-slot="{ errors }">
                <div class="form-group">
                  <label>Title</label>
                  <input v-model="frm.title" type="text" class="form-control" />
                  <span class="form-text m-b-none text-danger">{{ errors[0] }}</span>
                </div>
              </ValidationProvider>

              <ValidationProvider name="desc" rules="required" v-slot="{ errors }">
                <textarea v-model="frm.desc" class="form-control" type="text" cols="30" rows="5"></textarea>
                <span class="form-text m-b-none text-danger">{{ errors[0] }}</span>
              </ValidationProvider>
              <br />
              <ValidationProvider
                name="img"
                :rules="imageRole"
                ref="provider"
                v-slot="{ validate, errors }"
              >
                <div class="form-group">
                  <div class="custom-file">
                    <input
                      type="file"
                      @change="handleFileChange"
                      class="form-control custom-file-input"
                    />
                    <label class="custom-file-label">Add file...</label>
                    <span class="form-text m-b-none text-danger">{{ errors[0] }}</span>
                  </div>
                </div>
              </ValidationProvider>

              <button type="submit" :disabled="invalid" class="btn btn-primary">Submit</button>
            </form>
          </ValidationObserver>
        </div>
      </div>
    </div>

    <div class="col-lg-5 text-center">
      <div v-if="showImgTmbl">
        <img :src="showImgTmbl" alt="ok-thum" class="img-thumbnail" />
        <br />
        <ul class="nav">
          <li v-for="(item, index) in showImg" :key="item.idImg">
              <img :src="item.link" alt="ok" class="img-thumbnail img-lg" />
              <br />
              <button class="btn btn-danger" v-on:click="removeImg(index)">Remove </button>
          </li>
        </ul>
      </div>
      <div v-else>
        <div class="alert alert-info">
          <h1>Image preview</h1>
        </div>
      </div>
    </div>
  </div>
</template>
<script>

// import vue library
import {
  ValidationProvider,
  ValidationObserver,
  localize,
  extend
} from "vee-validate";
import id from "vee-validate/dist/locale/id.json";
import * as rules from "vee-validate/dist/rules";
localize("id", id);
// install rules and localization
Object.keys(rules).forEach(rule => {
          extend(rule, rules[rule]);
        });

export default {
  created: function () {
    this.selectOption.type = _.map(connate.type,(a)=>{
          return {id:a.id,title:a.title.toUpperCase(),code:a.code.toUpperCase()}
      })
  },
  data() {
    return {
      imageRole:{
        required:true,
        image:true,
        dimensions:{
            width:0,
            height:0
        }
      },
      selectOption:{
          brand:connate.brand,
          produk:[],
          type:[],
          ukuran:connate.ukuran,
      },
      showImg:[],
      showImgTmbl:null,
      frm: { title: "", desc: "", img: [], brandId:"", ukuranId:"", typeId:"", prodId:"" }
    };
  },
  computed: {
    // a computed getter
    updateProduk: function () {
      // `this` points to the vm instance
      if(this.selectOption.produk.length <= 0)
      {
        return [{title:'TIDAK ADA PRODUK',id:''}]
      }else{
        return  _.map(this.selectOption.produk,(a)=>{
            return {title:a.title.toUpperCase(),id:a.id}
        })
      }
    }
  },
  methods: {
    setImageDimension(e){
          const idUkuran = parseInt(e.target.value)
          const dims = _.filter(connate.ukuran, { 'id': idUkuran });
          const dim =  _(dims).first();
          this.imageRole.dimensions.width = dim.width*10
          this.imageRole.dimensions.height = dim.height*10
    },
    getProduk(e){
          const brand = parseInt(e.target.value)
          this.selectOption.produk = _.filter(connate.produk, { 'b_brand_id': brand });
    },
    removeImg(v){
        this.showImg.splice(v,1)
        this.frm.img.splice(v,1)
        this.$nextTick(function () {
          // DOM updated
          this.frm.img = this.showImg
           return this.showImg
        })
    },
    async handleFileChange(e) {
      const { valid } = await this.$refs.provider.validate(e);
      if (valid) {
        const file = e.target.files[0];
        const imgUrl = URL.createObjectURL(file)
        this.showImgTmbl = imgUrl;
        this.showImg.push({idImg:file.lastModified,link:imgUrl});
        this.frm.img.push(file);
      }
    },
    onSubmit() {
      // serilaize object kalo di jquery
      let bodyFormData = new FormData();
      let x = 1;
      for (const i of this.frm.img) {
        bodyFormData.append("img_"+x++, i);        
      }
      bodyFormData.set("title", this.frm.title);
      bodyFormData.set("desc", this.frm.desc);
      bodyFormData.set("b_brand_id", this.frm.brandId);
      bodyFormData.set("b_produk_id", this.frm.prodId);
      bodyFormData.set("b_type_id", this.frm.typeId);
      bodyFormData.set("b_ukuran_id", this.frm.ukuranId);
      bodyFormData.set("width", this.imageRole.dimensions.width);
      bodyFormData.set("height", this.imageRole.dimensions.height);
      // baru lempar ke server
      axios({
        method: "post",
        url: "/blog/barang",
        data: bodyFormData,
        headers: { "Content-Type": "multipart/form-data" }
      })
        .then(response => {
          // Resetting Values
          console.log(response.data.status)
          // this.frm.title = this.frm.desc = this.frm.img = this.frm.b_brand_id = "";
          // Wait until the models are updated in the UI
          // this.$nextTick(() => {
          //   this.$refs.form.reset();
          // });
          alert('sukses-->',response.data.status)
        })
        .catch(error => {
          console.log(error);
        });
    }
  },

  components: {
    ValidationProvider,
    ValidationObserver
  }
};
</script>