<template>
    <button :class="classes" v-on:click="click(data)">
        {{ name }}
    </button>
</template>
<script>
export default {
    props: {
        data: {},
        name: {},
        click: {},
        classes: {
            type: Object,
            default: () => ({ 
                'btn': true,
                'btn-primary': true,
                'btn-sm': true,
            }),
        },
    }
}
</script>