<template>
    <div>
        <data-table
        ref="gridTable"
        :columns="columns"
        :url="url" >
    </data-table>
    </div>
</template>
<script>
import DataTableButton from '../bloger/DataTableButton';

export default {
    data() {
        return {
            url:"/blog/depo/grid",
            columns: [
                { label: 'ID', name: 'id', orderable: true, },
                { label: 'Perusahaan', name: 'perusahaan', orderable: false, },
                { label: 'Marker', name: 'marker', orderable: false, },
                { label: 'Lokasi', name: 'lokasi', orderable: false, },
                { label: 'Alamat', name: 'alamat', orderable: false, },
                { label: 'Mobile', name: 'phone_1', orderable: false, },
                { label: 'Telepon', name: 'phone_2', orderable: false, },
                { label: 'Fax', name: 'fax', orderable: false, },
                { label: '', name: 'Edit', orderable: false, classes: { 
                                                            'btn': true,
                                                            'btn-primary': true,
                                                            'btn-sm': true,
                                                        },
                                                        event: "click",
                                                        handler:(data)=>{
                                                            alert(data.id)
                                                        },
                                                        component: DataTableButton, 
                },
                { label: '', name: 'Delete', orderable: false, classes: { 
                                                            'btn': true,
                                                            'btn-primary': true,
                                                            'btn-sm': true,
                                                        },
                                                        event: 'click',
                                                        handler:this.deleteData,
                                                        component: DataTableButton, 
                },
            ],
        }
    },
    components: {
                // eslint-disable-next-line
                DataTableButton,
            },
    methods: {
        deleteData(data){
            axios.post('/blog/depo/delete',{id:data.id}).then(response =>{
                this.$refs.gridTable.getData();
            }).catch(error =>{
                console.log(error);
            })
            
        }
    },
}
</script>