<template>
<div class="row">
  <div class="col-md-6">
    <form role="form" v-on:submit="sub">
      <div class="row">
        <div class="form-group col-6">
          <label>Upload Logo</label>
            <div class="custom-file">
              <input id="logo" type="file" class="custom-file-input" name="logo" @change="selectFile"/>
              <label for="logo" class="custom-file-label">Select Logo</label>
          </div> 
        </div>
        <div class="form-group col-6">
          <label>Nama Perusahaan</label>
          <input type="text" name="perusahaan" class="form-control" v-model="formData.perusahaan"/>
        </div>

        <div class="form-group col-12">
          <label>Pilih Marker Map</label>
          <gmap-autocomplete 
            @place_changed="setPlace" 
            class="form-control" 
            type="text" 
            name="marker" 
            style="width: 100%">
          </gmap-autocomplete>
        </div>

      <div class="form-group col-6">
        <label>Region </label>
        <input type="text" name="lokasi" class="form-control" v-model="formData.lokasi"/>
      </div>
      <div class="form-group col-6">
        <label>Alamat</label>
        <textarea type="text" name="alamat" class="form-control" v-model="formData.alamat"></textarea>
      </div>
      <div class="form-group col-12">
        <label>Telepon</label>
        <div class="row p-w-md">
          <div class="input-group-prepend">
              <span class="input-group-addon">
                <i class="fa fa-phone-square"></i>
              </span>
          </div>
          <input type="text" name="phone_1" class="form-control col-md-5" v-model="formData.phone_1"/>
          <div class="input-group-prepend">
              <span class="input-group-addon">
                <i class="fa fa-phone-square"></i>
              </span>
          </div>
          <input type="text" name="phone_2" class="form-control col-md-5" v-model="formData.phone_2"/>
        </div>
      </div>

      <div class="form-group col-6">
        <label>Fax</label>
        <input type="text" name="fax" class="form-control" v-model="formData.fax"/>
      </div>
      <div class="form-group col-6" :class="formError">
        <label>Email </label>
        <input type="text" name="email" class="form-control" v-model="formData.mail" v-on:keyup="clearError"/>
        <span class="form-text m-b-none text-danger" v-if="formError">Email required</span>
      </div>
      <div class="form-group col-4">
        <label>Facebook</label>
        <input type="text" name="fb" class="form-control" v-model="formData.fb"/>
      </div>
      <div class="form-group col-8">
        <label>Link </label>
        <input type="text" name="fb_link" class="form-control" v-model="formData.fb_link"/>
      </div>
      <div class="form-group col-4">
        <label>Instagram</label>
        <input type="text" name="ig" class="form-control" v-model="formData.ig"/>
      </div>
      <div class="form-group col-8">
        <label>Link </label>
        <input type="text" name="ig_link" class="form-control" v-model="formData.ig_link"/>
      </div>
      </div>
      
      <div>
        <button class="btn btn-primary float-right m-t-n-xs" type="submit">
          <strong>Save</strong>
        </button>
        <label></label>
      </div>
      <input type="hidden" name="lat" :value="latLng.lat">
      <input type="hidden" name="long" :value="latLng.lng">
    </form>
  </div>
  <div class="col-md-6">
        <GmapMap
          :center="center"
          :zoom="12"
          map-type-id="roadmap"
          style="width: 100%; height: 100%"
        >
      <GmapMarker
        :key="index"
        v-for="(m, index) in markers"
        :position="m.position"
        :clickable="true"
        :draggable="true"
        ref="markers"
      />
    </GmapMap>
  </div>
</div>



</template>
<script>
import * as VueGoogleMaps from 'vue2-google-maps'
Vue.use(VueGoogleMaps, {
    load: {
      key: 'AIzaSyDYxcj9zQErZ6KkleQahg_vuY2cRg5yfEU',
      libraries: 'places', // This is required if you use the Autocomplete plugin
    },
    // autobindAllEvents: false,
    installComponents: true
  })
  
export default {
  data : function(context) {
        return {
            formError:null,
            formData:{logo:null,perusahaan:null,map:null,marker:null,lokasi:null,alamat:null,
              phone_1:null,phone_2:null,fax:null,mail:null,lat:null,long:null,
              ig:null,ig_link:null,fb:null,fb_link:null
            },
            place: null,
            latLng: {},
            center: {lat: -6.229728, lng: 106.6894279},
            markers: []
      }
  },
  methods:{
      clearError(){
          // `this` points to the vm instance
          this.formError = null;
          return true;
      },
      valEmail(mail) {
          var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
              if (!re.test(mail)) {
                  return false;
              }
          return true;
      },
      sub(e){
         e.preventDefault();

        if (!this.formData.mail) {
              this.formError = 'has-error';
            } else if (!this.valEmail(this.formData.mail)) {
                this.formError = 'has-error';
            }
          if(this.formError === null)
          {
            this.postData();
          }
          for (const k in this.formData) {
            if (this.formData.hasOwnProperty(k)) {
                this.formData[k] = null;
            }
          }
      },
      postData()
      {
          const data = new FormData();
          data.append('logo', this.formData.logo);
          data.append('data',JSON.stringify({
                perusahaan:this.formData.perusahaan,
                map:this.formData.map,
                marker:this.formData.marker,
                lokasi:this.formData.lokasi,
                alamat:this.formData.alamat,
                phone_1:this.formData.phone_1,
                phone_2:this.formData.phone_2,
                fax:this.formData.fax,
                mail:this.formData.mail,
                lat:this.formData.lat,
                long:this.formData.long,
                fb:this.formData.fb,
                fb_link:this.formData.fb_link,
                ig:this.formData.ig,
                ig_link:this.formData.ig_link
          }))

          axios.post('/blog/depo/store', data)
                    .then(function (response) {
                      console.log(response);

                    })
                    .catch(function (error) {
                      console.log(error);
                    });
      },
      selectFile(event){
        this.formData.logo = event.target.files[0];
      },
      setPlace(place) {
        
        // console.log(place)
        const latLng = {
          lat: place.geometry.location.lat(),
          lng: place.geometry.location.lng(),
        };
        // set data to sending server
        this.formData.marker = place.formatted_address;
        this.formData.map = place.url;
        this.formData.lat = latLng.lat;
        this.formData.long = latLng.lng;

        this.latLng = latLng
        this.center = latLng
        const marker = {
          lat: place.geometry.location.lat(),
          lng: place.geometry.location.lng()
        };
        this.markers = [{ position: marker }];
      }
  },
  computed: {
    
  },
  mounted: function () {
        // console.log(this.center)
        console.log(_.size(this.formError));
    },
    created: function () {
    
    }
}

jQuery(function(a) {
  $('.custom-file-input').on('change', function() {
      let fileName = $(this).val().split('\\').pop();
    $(this).next('.custom-file-label').addClass("selected").html(fileName);
  }); 
})

</script>