<template>
  <div class="row">
    <div class="col-lg-5">
      <div class="ibox">
        <div class="ibox-title">
          <h5>Create Slide</h5>
          <div class="ibox-tools">
            <a class="collapse-link">
              <i class="fa fa-chevron-up"></i>
            </a>
            <a class="close-link">
              <i class="fa fa-times"></i>
            </a>
          </div>
        </div>
        <div class="ibox-content">
          <ValidationObserver v-slot="{ invalid }" ref="form">
            <form @submit.prevent="onSubmit" >
              <ValidationProvider name="title" rules="required|alpha_spaces" v-slot="{ errors }">
                <div class="form-group">
                  <label>Title</label>
                  <input v-model="frm.title" type="text" class="form-control" />
                  <span class="form-text m-b-none text-danger">{{ errors[0] }}</span>
                </div>
              </ValidationProvider>

              <ValidationProvider name="desc" rules="required" v-slot="{ errors }">
                <textarea v-model="frm.desc" class="form-control" type="text" cols="30" rows="5"></textarea>
                <span class="form-text m-b-none text-danger">{{ errors[0] }}</span>
              </ValidationProvider>
              <br />
              <ValidationProvider
                name="img"
                rules="required|image|dimensions:1366,768"
                ref="provider"
                v-slot="{ validate, errors }"
              >
                <div class="form-group">
                  <div class="custom-file">
                    <input
                      type="file"
                      @change="handleFileChange"
                      class="form-control custom-file-input"
                    />
                    <label class="custom-file-label">Choose file...</label>
                    <span class="form-text m-b-none text-danger">{{ errors[0] }}</span>
                  </div>
                </div>
              </ValidationProvider>

              <button type="submit" :disabled="invalid" class="btn btn-primary">Submit</button>
            </form>
          </ValidationObserver>
        </div>
      </div>
    </div>

    <div class="col-lg-5 text-center">
      <img v-if="showImg" :src="showImg" alt="ok" class="img-thumbnail" />
      <div v-else>
        <div class="alert alert-info">
          <h1>Image preview</h1>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
// jquery
jQuery(function() {
  $(".custom-file-input").on("change", function() {
    let fileName = $(this)
      .val()
      .split("\\")
      .pop();
    $(this)
      .next(".custom-file-label")
      .addClass("selected")
      .html(fileName);
  });
});

import {
  ValidationProvider,
  ValidationObserver,
  localize,
  extend
} from "vee-validate";
import id from "vee-validate/dist/locale/en.json";
import * as rules from "vee-validate/dist/rules";

localize("id", id);
// install rules and localization
Object.keys(rules).forEach(rule => {
  extend(rule, rules[rule]);
});

export default {
  data() {
    return {
      showImg: false,
      frm: {
        title: "",
        desc: "",
        img: ""
      }
    };
  },
  components: {
    ValidationProvider,
    ValidationObserver
  },
  methods: {
    async handleFileChange(e) {
      const { valid } = await this.$refs.provider.validate(e);
      if (valid) {
        const file = e.target.files[0];
        this.showImg = URL.createObjectURL(file);
        this.frm.img = file; 
      }
    },
    onSubmit() {
      // serilaize object kalo di jquery
      let bodyFormData = new FormData();
          bodyFormData.append('img', this.frm.img);
          bodyFormData.set('title', this.frm.title);
          bodyFormData.set('desc', this.frm.desc);
      // baru lempar ke server
        axios({
                method: 'post',
                url: '/blog/slide',
                data: bodyFormData,
                headers: {'Content-Type': 'multipart/form-data' }
        }).then(response => {
            // Resetting Values
            this.frm.title = this.frm.desc = this.frm.img = '';
            // Wait until the models are updated in the UI
            this.$nextTick(() => {
              this.$refs.form.reset();
            });
        }).catch(error => {
            console.log(error);
        })
    }
  }
};
</script>