<template>
    <section id="contact" class="gray-section contact">
    <div class="container">
        <div class="row m-b-lg">
            <div class="col-lg-12 text-center">
                <div class="navy-line"></div>
                <h1>Contact Us</h1>
                <p>Jl. Jembatan III Barat Blok E No. 4, Penjaringan. Jakarta Utara - INDONESIA</p>
            </div>
        </div>
        <div class="row m-b-lg justify-content-center">
            <div class="col-lg-12">
                <div class="row m-b-lg justify-content-center">
                    <div class="col-md-8">
                        <table class="footable table table-stripped toggle-arrow-tiny" data-page-size="15">
                            <thead>
                                <tr>
                                    <th data-toggle="true">Distributor</th>
                                    <th data-hide="all">Contact</th>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- @foreach ($alamat as $item)
                                    <tr>
                                        <td>
                                            <strong>{{$item[0]}}</strong>
                                        </td>
                                        <td>
                                            {{$item[1]}}
                                        </td>
                                    </tr>
                                @endforeach -->
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="6">
                                        <ul class="pagination float-right"></ul>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>

            </div>
            <div class="col-lg-3 ">
                <address>
                    <strong><span class="navy">PT. Chang Jui Fang Indonesia</span></strong><br/>
                    Email : pluit@picasso-tile.com<br/>
                    {{-- San Francisco, CA 94107<br/>
                    <abbr title="Phone">P:</abbr> (123) 456-7890 --}}
                </address>
            </div>
            <div class="col-lg-7">
                <p class="text-color">
                    PT. Chang Jui Fang Indonesia (CJFI) sejak tahun 1996 melalui merek ATENA, 
                    PICASSO, KITA dan HARMONY telah senantiasa melayani pelanggan untuk memenuhi 
                    kebutuhan akan gaya hidup modern, melalui produk-produk keramik lantai, keramik dinding, 
                    serta granit lantai yang berkualitas, inovatif, dengan harga yang lebih terjangkau.
                </p>
            </div>

        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <a href="mailto:admin@cjfi.co.id" class="btn btn-primary">Send us mail</a>
                <p class="m-t-sm">
                    Or follow us on social platform
                </p>
                <ul class="list-inline social-icon">
                    <li class="list-inline-item"><a href="#"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li class="list-inline-item"><a href="#"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li class="list-inline-item"><a href="#"><i class="fa fa-linkedin"></i></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center m-t-lg m-b-lg">
                <p><strong>&copy; 2015 CJFI</strong><br/> CJFI dengan merek ATENA, PICASSO, dan KITA tetap sesuai dengan standar internasional (ISO, SNI, SIRIM).</p>
            </div>
        </div>
    </div>
</section>
</template>