<template>
  <div>
    <section id="distribusi" class="gray-section contact">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <div class="navy-line"></div>
            <h1 class="no-paddings">Our Distributor</h1>
          </div>
        </div>
        <div class="row justify-content-center no-margins">
          <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-4" v-for="n in distributors" :key="n.id">
                <div class="contact-box">
                    <div class="row" >
                      <div class="col-4">
                        <div class="text-center">
                            <img alt="image" class="m-t-xs img-fluid" :src="n.logo">
                        </div>
                      </div>
                      <div class="col-8">
                          <h3>{{n.lokasi}}</h3>
                          <p><a :href="n.map" target="_blank" rel="noopener noreferrer">
                          <i class="fa fa-map-marker"></i> {{n.marker}}</a></p>
                      </div>
                      <div class="col-12">
                          <address>
                              <strong>{{n.perusahaan}}</strong><br>
                              {{n.alamat}}<br>
                              <abbr title="Mobile"><i class="fa fa-phone"></i></abbr> {{n.phone_1}} |
                              <abbr title="Phone"><i class="fa fa-phone"></i></abbr> {{n.phone_2}}<br>
                              <abbr title="Fax"><i class="fa fa-fax"></i></abbr> {{n.fax}} | 
                              <abbr title="Mail"><i class="fa fa-envelope"></i></abbr> <a href="mailto:#">{{n.mail}}</a><br>
                              <abbr title="Instagram"><i class="fa fa-instagram"></i></abbr> <a :href="n.ig_link">{{n.ig}}</a> |
                              <abbr title="Facebook"><i class="fa fa-facebook-square"></i></abbr> <a :href="n.fb_link">{{n.fb}}</a><br>
                          </address>
                      </div>
                    </div>
                </div>
              </div>
        </div>
        </div>
        </div>
        <div class="row">
          <div class="col-lg-12 text-center m-t-lg m-b-lg">
            <p>
              <strong>&copy; 2015 CJFI</strong>
              <br />CJFI dengan merek ATENA, PICASSO, dan KITA tetap sesuai dengan standar internasional (ISO, SNI, SIRIM).
            </p>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>
<script>

export default {
  data() {
    return {
      tampil:null,
      distributors:null
    }
  },
  mounted(){
    axios.get('/distributor')
          .then(response => {
              // console.log(response)
              this.distributors = response.data;
              this.tampil = JSON.stringify(response.data,'',2);
          })
          .catch(error => {
              console.log(error)
          });
  }
};
</script>