<template>
  <div>
    <section id="features" class="container services">
      <div class="row">
        <div class="col-sm-3">
          <h2>Full responsive</h2>
          <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus.</p>
          <p>
            <a class="navy-link" href="#" role="button">Details &raquo;</a>
          </p>
        </div>
        <div class="col-sm-3">
          <h2>LESS/SASS Files</h2>
          <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus.</p>
          <p>
            <a class="navy-link" href="#" role="button">Details &raquo;</a>
          </p>
        </div>
        <div class="col-sm-3">
          <h2>6 Charts Library</h2>
          <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus.</p>
          <p>
            <a class="navy-link" href="#" role="button">Details &raquo;</a>
          </p>
        </div>
        <div class="col-sm-3">
          <h2>Advanced Forms</h2>
          <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus.</p>
          <p>
            <a class="navy-link" href="#" role="button">Details &raquo;</a>
          </p>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
export default {
    
}
</script>