<template>
  <div id="inSlider" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#inSlider" data-slide-to="0" class="active"></li>
      <li data-target="#inSlider" data-slide-to="1"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
      <div class="carousel-item active">
        <div class="container">
          <div class="carousel-caption">
            <h1 style="text-transform: capitalize;">
              Menjadi perusahaan yang baik
              <br />terpercaya,
              <br />dan berkembang.
            </h1>
            <p>
              Sesuai dengan visi CJFI untuk selalu menjadi perusahaan yang baik,
              <br />terpercaya, dan berkembang di Indonesia;
            </p>
            <p>
              <a class="btn btn-lg btn-primary" href="#" role="button">READ MORE</a>
              <a class="caption-link" href="#" role="button">Inspinia Theme</a>
            </p>
          </div>
          <div class="carousel-image wow zoomIn">
            <img src="img/landing/laptop.png" alt="laptop" />
          </div>
        </div>
        <!-- Set background for slide in css -->
        <div class="header-back one"></div>
      </div>
      <div class="carousel-item">
        <div class="container">
          <div class="carousel-caption blank">
            <h1 style="text-transform: capitalize;">
              berkomitmen meningkatkan kualitas
              <br />desain produk yang inovatif.
            </h1>
            <p>
              Secara konsisten melakukan pengendalian standar spesifikasi
              <br />yang didukung oleh Sumber Daya Manusia bermutu,
              <br />serta perangkat Teknologi Informasi modern.
            </p>
            <p>
              <a class="btn btn-lg btn-primary" href="#" role="button">Learn more</a>
            </p>
          </div>
        </div>
        <!-- Set background for slide in css -->
        <div class="header-back two"></div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#inSlider" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#inSlider" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</template>
<script>
export default {

};
</script>