<template>
  <div>
    <section id="testimonials" class="navy-section testimonials" style="margin-top: 0">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center wow zoomIn">
            <i class="fa fa-comment big-icon"></i>
            <h1>What our users say</h1>
            <div class="testimonials-text">
              <i>"Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like)."</i>
            </div>
            <small>
              <strong>12.02.2014 - Andy Smith</strong>
            </small>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
export default {
    
}
</script>