<template>
  <div>
    <div class="tabs-container">
      <ul class="nav nav-tabs" role="tablist">
        <li>
          <a class="nav-link active" data-toggle="tab" href="#tab-1">
              <i class="fa fa-info"></i>
              Create Depo </a>
        </li>
        <li>
          <a class="nav-link" data-toggle="tab" href="#tab-2">
               <i class="fa fa-info"></i>
              List Depo</a>
        </li>
      </ul>
      <div class="tab-content">
        <div role="tabpanel" id="tab-1" class="tab-pane active">
          <div class="panel-body">
            <depo-component></depo-component>
          </div>
        </div>
        <div role="tabpanel" id="tab-2" class="tab-pane">
          <div class="panel-body">
              <depo-grid></depo-grid>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import DataTable from 'laravel-vue-datatable';
Vue.use(DataTable);

import DepoComponent from "./bloger/Depo";
import DepoGrid from "./bloger/DepoGrid";

export default {
  components: {
    "depo-component": DepoComponent,
    "depo-grid":DepoGrid
  }
};
</script>