<template>
	<div>
		<div v-if="target">
			<target-component></target-component>
		</div>
		<div v-if="penilaian">
			<penilaian-component></penilaian-component>
		</div>
	</div>
</template>
<script>
import Target from './report/TargetComonent';
import penilaian from './report/PenilaianComponent';
export default{
	props:['target','penilaian'],
	components:{
      'TargetComponent':Target,
      'PenilaianComponent':penilaian,
  },
}

</script>