<template >
    <div class="col-lg-12">
        <div class="row">
                <div class="col-3" v-for="item in body" :key="item.id">
                    <a :href="'menu/'+item.id">
                        <div class="widget style1 navy-bg">
                            <div class="row">
                                <div class="col-4 d-none d-lg-block">
                                    <i :class="item.icon"></i>
                                </div>
                                <div class="col-8 text-right">
                                    <span class="d-none d-lg-block"> {{item.ket}} </span>
                                <h2 class="font-bold">{{item.name}}</h2>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['message','menu'],
        data(){
            return {
                body:this.message
            }
        },
        methods: {
            doSomething: function(id) {
			    axios.get('menu/'+id)
				.then(response => {
                        console.log(response.data);
                        // this.$emit('addMenu')
                        this.menu = 'dasdasdsad';
				});
            }
        },
        mounted() {
            console.log('Component mounted.')
            // console.dir(this.message)
        }
    }
</script>
