<template>
<div class="col-md-12">
    <form ref="frmRanking" action="#" method="post" @submit.prevent="submit">
    <div class="row">
        <div class="col-md-5">
            <div class="form-group" id="data_1">
            <div class="input-group">
                <span class="input-group-addon">
                    <i class="fa fa-calendar"></i>
                </span>
                <date-picker-component :optionDate="option"></date-picker-component>
            </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="form-group">
                <div class="input-group">
                <button type="submit" class="btn btn-outline btn-success">Show</button>
                </div>
            </div>
        </div>
        </div>
    </form>
    <div v-if="errors" class="alert alert-danger alert-dismissable">
            <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
            <p><strong>Error {{errors.status}} </strong> {{errors.statusText}}</p>
            <p>{{errors.message}}</p>
    </div>
</div>
</template>
<script>
import datePicker from './plugin/DatePickerComponent'
export default {
    components:{
        'date-picker-component':datePicker
    },
    data: function(){
        return {
                    option:{'name':'datePicker','type':'text'},
                    errors: null,
                    fields:{}   
                }
    },
    methods:{
    submit(e) {
            const formData = new FormData(this.$refs['frmRanking']); // reference to form element
            const data = {}; // need to convert it before using not with XMLHttpRequest
            for (let [key, val] of formData.entries()) {
                Object.assign(data, { [key]: val })
            }
            if(this.validate(data))
            {
                this.errors = null; // balikin nilai error
                axios.post('/report/ranking', data).then(response => {
                        this.$emit('gridData', response.data)
                        alert('Message sent!');
                    }).catch(error => {
                        // console.log(error.response)
                        this.errors = {
                            status:error.response.status,
                            statusText: error.response.statusText,
                            message: error.response.data.message
                        }
                    });
            }
            
            e.preventDefault();
        },
    validate(data){
            if (data.datePicker) {
                return true;
            }
            if (!data.datePicker) {
                alert('error data')
                return false;
            }
        }
    },
    mounted() {
        // console.log(this.date)
    // console.log("Form Ranking Component mounted.");
    // console.dir(this.message)
    }
}
</script>