<template>
    <div>
        <slide-component></slide-component>
        <distribusi-compnent></distribusi-compnent>
    </div>
</template>

<script>
    import slide from './front_end/Slider';
    import feuture from './front_end/FeutureSecction';
    import distributor from './front_end/Distribusi';


    export default {
         components:{
            'slide-component':slide,
            'future-page':feuture,
            'distribusi-compnent':distributor
        }
    }
</script>