<template>
    <div class="container">
        <h2 class="text-navy">Data ranking periode {{ranking.date}}</h2>
        <div class="btn-group" >
            <button class="btn btn-info btn-outline"
            :id="'load-'+brands.id"
            type="radio" 
            v-for="brands in brand"
            v-on:click.capture="loadRanking(brands.kode)" 
            :key="brands.id" :disabled="show">{{brands.nama}}</button>
        </div>
        <hr />
        <transition name="fade">
                <hot-table ref="HotTable" :settings="hotSettings" ></hot-table>
        </transition>
            
    </div>
</template>
<script>
import { HotTable } from '@handsontable/vue';
import Handsontable from 'handsontable';


export default {
    props:['brand','depo','ranking'],
    data:function() {
        return {
                show:false,
                prosesData:{
                    mergeCells:[
                                {row: 0, col: 0, rowspan: 1, colspan: 2},
                                {row: 1, col: 0, rowspan: 1, colspan: 2},
                                {row: 2, col: 0, rowspan: 1, colspan: 2},
                                {row: 3, col: 0, rowspan: 1, colspan: 2},
                                {row: 4, col: 0, rowspan: 1, colspan: 2},
                                {row: 5, col: 0, rowspan: 1, colspan: 2},
                                {row: 6, col: 0, rowspan: 1, colspan: 2}
                            ],
                    kolom:[]
                },
                dataGrid:[],
                hotSettings: {
                            data: [{kolom:'PILIH BRAND',kode:'Untuk di load datanya'},{}],
                            colHeaders: true,
                            isForced:true,
                            editor: false,
                            mergeCells:null,
                            autoRowSize: false,
                            autoColumnSize: false,
                            // startRows: 31,
                            // startCols: 62,
                            height: 800,
                            colWidths:[80,85],
                            fixedColumnsLeft: 2,
                            contextMenu: ['copy'],
                            className: "htRight htMiddle",
                            cell: [
                                {row: 0, col: 0, className: "htCenter"}
                            ],
                            exportFile: true,
                            readOnly: true,
                            fixedRowsTop: 3,
                            // columns: [],
                            licenseKey: 'non-commercial-and-evaluation',
                            currentRowClassName: 'currentRow',
                            currentColClassName: 'currentCol',
                            cells: function (row, col) {
                                        var cellProperties = {};
                                        if(col > 1 && row === 6)
                                        {
                                            cellProperties.renderer = function (instance, td, row, col, prop, value, cellProperties){
                                                    Handsontable.renderers.TextRenderer.apply(this, arguments);
                                                        td.style.color = '#001f3f';
                                                        td.style.background = '#DDDDDD';
                                                        // td.style.fontWeight = 'bold';
                                                        // td.className = 'w3-win8-teal';
                                                };
                                        }
                                        if (col < 2 && row >= 7) {
                                            cellProperties.renderer = function(instance, td, row, col, prop, value, cellProperties) {
                                                Handsontable.renderers.TextRenderer.apply(this, arguments);
                                                if ((row % 2) === 0) {
                                                    // td.style.fontWeight = 'bold';
                                                    td.style.color = '#111111';
                                                    td.style.background = '#7FDBFF';
                                                    // td.className = 'w3-win8-teal';
                                                }else{
                                                    td.style.color = '#111111';
                                                    td.style.background = '#DDDDDD';
                                                }
                                            }; // uses function directly
                                        }
                                        if (col >= 2 && row >= 7) {
                                            cellProperties.renderer = function(instance, td, row, col, prop, value, cellProperties) {
                                            Handsontable.renderers.TextRenderer.apply(this, arguments);
                                            let baca = {}
                                            baca.rppbKosong = function (td, stok, rppb) {
                                                // if (rppb == 0 && stok == 0) {
                                                //     td.style.fontWeight = 'bold';
                                                //     td.style.color = '#FFFFFF';
                                                //     td.style.background = '#FF4136';
                                                // }
                                            }

                                            baca.biru = function (td, stok, rppb) {
                                                if ((rppb * 1.25) <= stok) {
                                                    td.style.fontWeight = 'bold';
                                                    td.style.color = '#FFFFFF';
                                                    td.style.background = '#0074D9';
                                                }
                                            }

                                            baca.hijau = function (td, stok, rppb) {
                                                if ((rppb * 1.0) <= stok < (rppb * 1.25)) {
                                                    td.style.fontWeight = 'bold';
                                                    td.style.color = '#FFFFFF';
                                                    td.style.background = '#2ECC40';
                                                }
                                            }

                                            // baca.stkSamaRppb = function (td, stok, rppb) {
                                            //     let rppb3, rppb2
                                            //     if (!isNaN(rppb))
                                            //         rppb3 = 3 * rppb;
                                            //         rppb2 = 2 * rppb;

                                            //     if (stok == rppb3 || stok <= rppb2) {
                                            //         td.style.fontWeight = 'bold';
                                            //         td.style.color = '#fff';
                                            //         td.style.background = '#1ba1e2';

                                            //     }
                                            // }
                                            baca.kuning = function (td, stok, rppb) {
                                                if ((rppb * 0.25) <= stok < (rppb * 0.50)) {
                                                    // td.style.fontWeight = 'bold';
                                                    td.style.color = '#FFFFFF';
                                                    td.style.background = '#FFDC00';
                                                }
                                            }

                                            baca.merah = function (td, stok, rppb) {
                                                if (stok == 0) {
                                                    td.style.fontWeight = 'bold';
                                                    td.style.color = '#FFFFFF';
                                                    td.style.background = '#FF4136';
                                                }
                                            }

                                            baca.orange = function (td, stok, rppb) {

                                                if (0 < stok < (rppb * 0.25) && stok != 0) {
                                                    td.style.fontWeight = 'bold';
                                                    td.style.color = '#FFFFFF';
                                                    td.style.background = '#FF851B';
                                                }
                                            }
                                            baca.tanpaWarna = function(td, stok, rppb) {
                                                if ((rppb * 0.50) <= stok <= (rppb * 1.0)) {
                                                    td.style.fontWeight = 'bold';
                                                }
                                            }

                                            let rppb, stok;
                                            // baca kolom rppb
                                            if (col % 2 === 0) {
                                                stok = parseInt(value);
                                                rppb = parseInt(instance.getDataAtCell(row, col))
                                                if (typeof stok !== "undefined" || stok !== isNaN(stok)) {
                                                    baca.rppbKosong(td, stok, rppb)
                                                }
                                            }

                                            if (col % 2 !== 0) // baca kolom stok
                                            {
                                                // console.log(col)
                                                stok = parseInt(value);
                                                rppb = parseInt(instance.getDataAtCell(row, col - 1))
                                                // cek data field, warnain bagaround filed nya
                                                if (typeof stok !== "undefined" || stok !== isNaN(stok))
                                                    baca.biru(td, stok, rppb)
                                                    baca.hijau(td, stok, rppb)
                                                    baca.tanpaWarna(td, stok, rppb)
                                                    baca.kuning(td, stok, rppb)
                                                    baca.orange(td, stok, rppb)
                                                    baca.merah(td, stok, rppb)
                                            }
                                        }
                                        }
                                        return cellProperties;
                            }

                        }
            }  
    },
    components: {
      HotTable
    },
    methods:{
        loadRanking(kode){

                
                this.show = true;
                this.parsingRanking(kode)
                this.$refs.HotTable.hotInstance.loadData(JSON.parse(JSON.stringify(this.dataGrid)));
                this.hotSettings.data = JSON.parse(JSON.stringify(this.dataGrid));
                this.hotSettings.mergeCells = this.prosesData.mergeCells;
                // this.hotSettings.columns = this.prosesData.kolom;
                // console.log('final data',this.dataGrid)
                // this.show = JSON.stringify(this.hotSettings.columns,'',2)
                this.show = false;
                this.$emit('childToParent', {
                                    kode:kode,
                                    grid:JSON.parse(JSON.stringify(this.dataGrid))
                                }
                            );
        },
        rppb(grid,ranking){
            var that = this;
            let jml = this.prosesData.jmlRanking;
            const kdBrg = this.prosesData.kdBrg;
            const rank = _.flatten(ranking).map(function(a){
                    let x = new Object;
                    x.depo = a.id_depo
                    x.kode_barang = a.kode_barang
                    x.rppb = a.rppb
                    x.stok = a.stok_depo
                    return x
                });
            // this.show = JSON.stringify(rank, null,2);
            return grid.map(function(g){
                let kode_depo = g.kode_depo
                rank.map(function(ra){
                    if(ra.depo === kode_depo)
                    {
                        let idx = _.indexOf(kdBrg,ra.kode_barang);
                        const id = idx+1;
                        g['kd_'+id] = that.formatNumber(ra.rppb);
                        g['sp_'+id] = that.formatNumber(ra.stok);
                    }
                })
                return g
            })
        },
        stokDepo(data){
            // this.show = JSON.stringify(data,false)
            let stokDepo = []
            for (const u of data) {
                let stk = 0
                for(const v of u)
                {
                    stk =+ v.stok_depo
                }
                stokDepo.push(stk)
            }
            this.prosesData.stokDepo = stokDepo;
        },
        stokPabrik(data){
            let stokPabrik = []
            for (const u of data) {
                stokPabrik.push(parseInt(u[0].stok))
            }
            this.prosesData.stokPabrik = stokPabrik;
        },
        umur(data){
            let um = []
            for (const u of data) {
                um.push(parseInt(u[0].umur))
            }
            this.prosesData.umur = um;
        },
        kodeBarang(data)
        {
            let x = [];
            let k =[];
            for (const i of data) {
                let z = new Object
                z[i[0].kode_barang.replace('.','_')] = i 
                x.push(z);
                k.push(i[0].kode_barang);
            }
            this.prosesData.jmlRanking = x.length;
            this.prosesData.kode_barang = x;
            this.prosesData.kdBrg = k;
        },
        masterDepo(){
            let x = this.depo.map(function(a){
                return {kode_depo:a.kode,nama_depo:a.nama};
            })
            x.unshift({kode_depo:'Rata-rata Penjualan',nama_depo:''})
            x.unshift({kode_depo:'Total',nama_depo:''})
            x.unshift({kode_depo:'Stok Depo',nama_depo:''})
            x.unshift({kode_depo:'Stok Pabrik',nama_depo:''})
            x.unshift({kode_depo:'Item Umur',nama_depo:''})
            x.unshift({kode_depo:'Kode Barang',nama_depo:''})
            x.unshift({kode_depo:'Profit Ranking',nama_depo:''})
            this.prosesData.depo = x;
        },
        parsingRanking(kode){
            if(this.ranking.data[kode])
            {
                const data = this.ranking.data[kode]
                let dataRanking = _.sortBy(_.groupBy(data,"kode_barang"),'rppb')
                this.kodeBarang(dataRanking); // parsing data di group berdasarkan kode barang
                this.masterDepo(); // jalanin generate kolom nama depo
                this.umur(dataRanking); // bikin umur
                this.stokPabrik(dataRanking); // bikin stok pabrik
                this.stokDepo(dataRanking); // bikin stok depo
                let z = this.prosesData.kode_barang;
                let x = this.prosesData.depo;
                for (const d in x) {
                    if (x.hasOwnProperty(d)) {
                        let e = x[d];
                        if(e.kode_depo == 'Rata-rata Penjualan')
                        {
                            for (let i = 0; i < this.prosesData.jmlRanking; i++) {
                                let index = i+1;
                                e['kd_'+index] = 'RPPB';
                                e['sp_'+index] = 'STOK';
                            }
                        }
                        if(e.kode_depo == 'Total') // totalin semua stok
                        {
                            let rowIndex = 0;
                            for (let i = 0; i < this.prosesData.stokDepo.length; i++) {
                                let index = i+1;
                                e['kd_'+index] = this.prosesData.stokDepo[i] + this.prosesData.stokPabrik[i];
                                e['sp_'+index] = '';
                                rowIndex = (rowIndex + 2);
                                this.prosesData.mergeCells.push({row: 5, col: rowIndex, rowspan: 1, colspan: 2})
                            }
                        }
                        if(e.kode_depo == 'Stok Depo')
                        {
                            let rowIndex = 0;
                            for (let i = 0; i < this.prosesData.stokDepo.length; i++) {
                                let index = i+1;
                                e['kd_'+index] = this.prosesData.stokDepo[i];
                                e['sp_'+index] = '';
                                rowIndex = (rowIndex + 2);
                                this.prosesData.mergeCells.push({row: 4, col: rowIndex, rowspan: 1, colspan: 2})
                            }
                        }

                        if(e.kode_depo == 'Stok Pabrik')
                        {
                            let rowIndex = 0;
                            for (let i = 0; i < this.prosesData.stokPabrik.length; i++) {
                                let index = i+1;
                                e['kd_'+index] = this.prosesData.stokPabrik[i];
                                e['sp_'+index] = '';
                                rowIndex = (rowIndex + 2);
                                this.prosesData.mergeCells.push({row: 3, col: rowIndex, rowspan: 1, colspan: 2})
                            }
                        }
                        if(e.kode_depo == 'Item Umur')
                        {
                            let rowIndex = 0;
                            for (let i = 0; i < this.prosesData.umur.length; i++) {
                                let index = i+1;
                                e['kd_'+index] = this.prosesData.umur[i];
                                e['sp_'+index] = '';
                                rowIndex = (rowIndex + 2);
                                this.prosesData.mergeCells.push({row: 2, col: rowIndex, rowspan: 1, colspan: 2})
                            }
                        }
                        if(e.kode_depo == 'Kode Barang')
                        {
                            let rowIndex = 0;
                            let i = 0;
                            let kode_barang = []
                            for (const k in z) {
                                if (z.hasOwnProperty(k)) {
                                    i++;
                                    const f = _.keys(z[k])[0];
                                    e['kd_'+i] = f.replace('_','.')
                                    e['sp_'+i] = ''
                                    rowIndex = (rowIndex + 2);
                                    this.prosesData.mergeCells.push({row: 1, col: rowIndex, rowspan: 1, colspan: 2})
                                }
                            }
                        }
                        if(e.kode_depo == 'Profit Ranking')
                        {
                            let rowIndex = 0;
                            for (let i = 0; i < this.prosesData.jmlRanking; i++) {
                                let index = i+1;
                                e['kd_'+index] = index;
                                e['sp_'+index] = '';
                                rowIndex = (rowIndex + 2);
                                this.prosesData.mergeCells.push({row: 0, col: rowIndex, rowspan: 1, colspan: 2})

                            }
                        }
                        
                    }
                }
                this.dataGrid = this.rppb(x,dataRanking); // parsing isinya langsung tempel
                // this.show = JSON.stringify(this.prosesData)
            }else{
                this.dataGrid = [];
            }

        },
        formatNumber(a)
        {
            return new Intl.NumberFormat('id-IN', { maximumSignificantDigits: 3 }).format(a)
        }
    },
    mounted: function () {
        // console.log(this.ranking.data)
        
    },
    created: function () {
    
    }
}
</script>