<template>
	<div>
		<data-table
    			:columns="columns"
    			url="/system/menu/grid">
		</data-table>
	</div>
</template>
<script>

export default {
    data() {
        return {
            columns: [
                {
                    label: 'ID',
                    name: 'id',
                    orderable: true,
                },
                {
                    label: 'Modul',
                    name: 'menu_modules_id',
                    orderable: false,
                },
                {
                    label: 'Parent',
                    name: 'parent_id',
                    orderable: true,
                },{
                    label: 'Name',
                    name: 'title',
                    orderable: false,
                },{
                    label: 'Icon',
                    name: 'icon',
                    orderable: false,
                },{
                    label: 'Url',
                    name: 'url',
                    orderable: false,
                },{
                    label: 'Active',
                    name: 'actime',
                    orderable: false,
                },
            ]
        }
    },
}

</script>
