<template>
  <div>
    <div class="ibox">
      <div class="ibox-title">
        <h5>
          <span class="dateProd"></span>
        </h5>
        <div class="ibox-tools">
          <div class="btn-group">
            <a class="btn btn-primary btn-sm" href="#">Print Report</a>
            <excel-component :ranking="excelBtn.gridData"></excel-component>
          </div>
        </div>
      </div>

      <div class="ibox-content">
        <div class="row">
          <form-ranking @gridData="dataRanking"></form-ranking>
          <grid-ranking v-if="awesome" 
                :ranking="rankingData" 
                :brand="brandData" 
                :depo="depoData" 
                v-on:childToParent="onChildClick"></grid-ranking>
        </div>
      </div>

      <div class="ibox-footer">
        <div class="row">
          <div class="col-sm-12">
            <legend>Indikator Warna</legend>
          </div>
          <div class="col-sm-12">
            <div class="table-responsive">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>Warna</th>
                    <th>Indikator Stok (X)</th>
                    <th>Keterangan</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <div class="bg-red white p-xxs b-r-xs">
                        <strong>Merah</strong>
                      </div>
                    </td>
                    <td>X = 0</td>
                    <td>Jelek sekali tidak boleh terjadi</td>
                  </tr>
                  <tr>
                    <td>
                      <div class="bg-orange white p-xxs b-r-xs">
                        <strong>Orange</strong>
                      </div>
                    </td>
                    <td>0 RPPB < X < 0.25 RPPB + Lama kirim</td>
                    <td>Terancam stok kurang, kritis</td>
                  </tr>
                  <tr>
                    <td>
                      <div class="bg-yellow white p-xxs b-r-xs">
                        <strong>Kuning</strong>
                      </div>
                    </td>
                    <td>0.25 RPPB <= X 0.50 RPPB + Lama kirim</td>
                    <td>Cepat kirim, waspada</td>
                  </tr>
                  <tr>
                    <td>
                      <div class="bg-white p-xxs b-r-xs">
                        <strong>Tanpa Warna</strong>
                      </div>
                    </td>
                    <td>0.50 RPPB <= X < 1.0 RPPB + Lama kirim</td>
                    <td>Terkontrol</td>
                  </tr>
                  <tr>
                    <td>
                      <div class="bg-green white p-xxs b-r-xs">
                        <strong>Hijau</strong>
                      </div>
                    </td>
                    <td>1.0 RPPB <= X 1.25 RPPB + Lama kirim</td>
                    <td>Kelebihan sedikit, diperhatikan</td>
                  </tr>
                  <tr>
                    <td>
                      <div class="bg-blue white p-xxs b-r-xs">
                        <strong>Biru</strong>
                      </div>
                    </td>
                    <td>1.25 RPPB <= X + Lama kirim</td>
                    <td>Terlalu banyak di hindari</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</template>
<script>

import ExcelComponent from './plugin/DownloadExcel'
export default {
  components:{
      'ExcelComponent':ExcelComponent
  },
  data() {
    return {
      excelBtn:{
        gridData:null
      },
      depoData: null,
      brandData: null,
      rankingData: null,
      awesome: false,
      toggle: false,
      a: { formId: null, pdf: null }
    };
  },
  methods: {
    onChildClick(value){
      this.excelBtn.gridData = value
    },
    brand() {
      axios
        .get("/report/ranking/brand")
        .then(response => {
          let i = 1;
          let dataBrand = response.data.map(a => {
            if(i === 1)
            {
              return {class:'active', id:i++, kode: a.kode_brand, nama: a.nama_brand };
            }else{
              return {class:'', id:i++, kode: a.kode_brand, nama: a.nama_brand };
            }
          });
          this.brandData = dataBrand;
        })
        .catch(error => {
          console.log(error);
         });
    },
    depo() {
      axios
        .get("/report/ranking/depo")
        .then(response => {
          let depo = response.data.map(a => {
            return { kode: a.id_depo, nama: a.nama_depo };
          });
          this.depoData = depo;
        })
        .catch(error => {
          console.log(error);
        });
    },
    dataRanking: function(data) {
      this.awesome = true;
      this.rankingData = data;
    },
    currentTabComponent: function() {
      this.toggle = !this.toggle;
    }
  },
  mounted() {
    this.brand();
    this.depo();
    // console.log("Ranking Component mounted.");
    // console.dir(this.message)
  }
};
</script>