<template>
    <div class="row border-bottom white-bg dashboard-header">
        <div class="col-6">
            <data-table ref="tableUser" :columns="columns" url="/system/user_manager/grid"></data-table>
        </div>
        <div class="col-6">
            <button class="btn btn-block btn-success" @click="showForm">Add User</button>
            <hr class="hr-line-solid">
            <insert-form-user v-show="option.frmInsert" v-on:childToParent="onChildClick" v-on:succsess="refreshTbl">
            </insert-form-user>
            <edit-form-user v-show="option.frmEdit" :frmData="frmData" :refreshTbl="refreshTbl"></edit-form-user>
        </div>
        <modal-component v-if="modal" :modal="modal" ></modal-component>
    </div>
</template>

<script>
    import ExampleButton from './plugin/Button.vue';
    import modalComponent from './plugin/Modal.vue';
    import editFormUser from './adminConfig/editFormUser.vue';
    import insertFormUser from './adminConfig/addFormUser.vue';

    // import { BModal, VBModal } from 'bootstrap-vue'

    export default {
        components: {
            ExampleButton,
            editFormUser,
            insertFormUser,
            modalComponent,
        },
        methods: {
            refreshTbl() {
                return this.$refs.tableUser.getData();
            },
            aksiNya(data, apa) {
                if (apa === 'Edit') {
                    // console.log('mau apa?',apa)
                    this.option.frmEdit = true;
                    this.option.frmInsert = false;
                    // console.log(data);
                    this.frmData = data;
                }
                if (apa === 'Delete') {
                    console.log(data.id);
                    this.modal = true;

                    /* axios({
                        method:'post',
                        url:,
                        data: {
                            id:data.id
                        }
                    }) */
                }
                if(apa === 'Role')
                {
                    window.location.href = '/system/user_manager/assign_user_role/'+data.id
                }
                // console.log(data);
                // alert(`You clicked row ${data.id}`);
            },
            showForm() {
                this.option.frmEdit = false;
                this.option.frmInsert = true;


            },
            onChildClick(value) {
                this.option.frmInsert = false;
                this.option.frmEdit = false;
            }
        },
        data() {
            return {
                modal: null,
                frmData: {},
                option: {
                    'frmEdit': null,
                    'frmInsert': null,
                },
                columns: [{
                        label: 'ID',
                        name: 'id',
                        orderable: true,
                    },
                    {
                        label: 'Name',
                        name: 'name',
                        orderable: false,
                    },
                    {
                        label: 'Email',
                        name: 'email',
                        orderable: true,
                    },
                    {
                        label: '',
                        name: 'Edit/Delete/Role',
                        orderable: false,
                        meta: {
                            data_target: '#myModal',
                        },
                        classes: {
                            'btn': true,
                            'btn-primary': false,
                            'btn-sm': true,
                        },
                        event: "click",
                        handler: this.aksiNya,
                        component: ExampleButton,
                    }
                ]
            }
        },
    }

</script>
