<template>
<dir class="btn-group">
<button :class="classes" class="btn-primary" @click="click(data,nama[0])" title="Edit data" >
        {{ nama[0] }}
    </button>
    <button :class="classes" class="btn-danger" @click="click(data,nama[1])" title="Delete data">
        {{ nama[1] }}
    </button>
    <button :class="classes" class="btn-success" @click="click(data,nama[2])" title="Role and Permission">
        {{ nama[2] }}
    </button>
</dir>
    
</template>
<script>
export default {

    props: {
        data: {},
        name: {},
        click: {
            type: Function,
            default: () => {}
        },
        classes: {
            type: Object,
            default: () => ({ 
                'btn': true,
                'btn-primary': true,
                'btn-sm': true,
            }),
        },
        meta:{},
    },
    computed: {
    // a computed getter
    nama: function () {
      // `this` points to the vm instance
    //   console.log(this.name.split('/'));
        return this.name.split('/')
    //   return this.name.split('').reverse().join('')
    }
  }
}
</script>