<template>
    <div>
        <i style="color: #a9a9a9">Row: {{row}}, column: {{col}},</i> value: {{value}}
    </div>
</template>
<script>
export default {
    data: function() {
    return {
                    hotInstance: null
    }
  }
}
</script>