<template>
    <input class="form-control" :name="optionDate.name" :type="optionDate.type" />
</template>
<script>
export default {
    props: ['optionDate'],    
    mounted: function() {
        var self = this;
        jQuery(function () {
            $(self.$el).datepicker({
                        todayBtn: "linked",
                        keyboardNavigation: false,
                        forceParse: false,
                        calendarWeeks: true,
                        autoclose: true,
                        dateFormat: 'yy-mm-dd'
                    }).on('changeDate', function(e) {
                                // `e` here contains the extra attributes
                                const date = $(this).datepicker('getFormattedDate')
                                self.dateValue = date;
                    });
            })
            
    },
    beforeDestroy: function() {
        var self = this;
        jQuery(function () {
            $(self.$el).datepicker('hide').datepicker('destroy');
        })
    },
    data:function () {
            return {
                    dateValue:null
                }        
    }
}
</script>