<template>
<div>
    <button type="button" v-on:click="onexport(ranking)" class="btn btn-primary btn-sm btn-outline">Excel download</button>
    <!--  
    <download-excel :data="json_data">
                   Export Excel
    </download-excel>
    -->
</div>

</template>
<script>
var Excel = require('exceljs');
var FileSaver = require('file-saver');

// import JsonExcel from 'vue-json-excel'
export default {
    props:['ranking'],
    components:{
    //   'downloadExcel':JsonExcel
  },
  data(){
      return {
          excel:{
            head:null,
            sheet:null,
            merge:null
          }
      }
  },
computed: {
    cHead:()=>{
      }
},
methods: {
    onexport (a) { // On Click Excel download button
        if(a)
        {
          // parsing head
            let ii = 1;
            let x = [];
            let cMerge = [];
            for (const k in _.head(a.grid)) {
              const index = ii++;
              const shell = this.toExcelHeader(index);
                x.push({header: shell, key: k})
                if(index%2 !== 0)
                {
                  // console.log(this.toExcelHeader())
                  cMerge.push(this.toExcelHeader(index)+'1:'+this.toExcelHeader(index+1)+'1')
                  cMerge.push(this.toExcelHeader(index)+'2:'+this.toExcelHeader(index+1)+'2')
                  cMerge.push(this.toExcelHeader(index)+'3:'+this.toExcelHeader(index+1)+'3')
                  cMerge.push(this.toExcelHeader(index)+'4:'+this.toExcelHeader(index+1)+'4')
                  cMerge.push(this.toExcelHeader(index)+'5:'+this.toExcelHeader(index+1)+'5')
                  cMerge.push(this.toExcelHeader(index)+'6:'+this.toExcelHeader(index+1)+'6')
                  cMerge.push(this.toExcelHeader(index)+'7:'+this.toExcelHeader(index+1)+'7')
                }
            }
            this.excel.sheet = a.kode;
            this.excel.head = x;
            this.excel.merge = cMerge;

            return this.createExcel(this.excel,a.grid);
          // console.log(this.cHead)
        }
    },
    createExcel(d,grid){
              // console.log(this.toExcelHeader(30))
              const workbook = new Excel.Workbook();
              const worksheet = workbook.addWorksheet(d.sheet);
              worksheet.columns = d.head;
              // row data
              for (const a of grid) {
                worksheet.addRow(a);
              }

              // merge cell
              for (const mg of d.merge) {
                  worksheet.mergeCells(mg)
              }
              
              // worksheet.addRow({id: 1, name: 'John Doe', dob: new Date(1970, 1, 1)});
              // worksheet.addRow({id: 2, name: 'Jane Doe', dob: new Date(1965, 1, 7)});
              
              // save file ke excel
              workbook.xlsx.writeBuffer()
                  .then(buffer => FileSaver.saveAs(new Blob([buffer]), `${Date.now()}_report.xlsx`))
                  .catch(err => console.log('Error writing excel export', err))
          
              // const buffer = workbook.xlsx.writeBuffer('dasdasd');
              // let url = window.URL.createObjectURL(workbook);
              // window.location.href = url;
    }
  },
}
</script>