<template>
  <div class="col-md-12">
    <div class="tabs-container">
      <div class="tabs-left">
        <ul class="nav nav-tabs">
          <li v-for="brands in brand" :key="brands.id">
            <a :href="'#tab-'+brands.id" 
                class="nav-link" 
                :class="brands.class" 
                data-toggle="tab"
                v-on:click="loadGrid(brands.kode)">{{brands.nama}}</a>
          </li>
        </ul>
        <div class="tab-content">
          <div :id="'tab-'+brands.id" class="tab-pane" :class="brands.class" v-for="brands in brand" :key="brands.id">
            <div class="panel-body">
              <strong>{{brands.kode}}</strong>
              <p>{{brands.nama}}</p>
              <slot></slot>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: ["brand"],
  data: function() {
    return {
      tabs: [],
      current: null
    };
  },
  methods:{
    loadGrid(id)
    {
      this.$emit('brandKode',id);
    }
  }
};
</script>