<template>
        <div class="modal inmodal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content animated bounceInRight">
                    <div class="modal-header">
                        <i class="fa fa-laptop modal-icon"></i>
                        <h4 class="modal-title">Delete this user?</h4>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-white" data-dismiss="modal" @click="destroy">No</button>
                        <button type="button" class="btn btn-primary">Yes</button>
                    </div>
                </div>
            </div>
        </div>
</template>
<script>
    export default {
        props:['modal'],
        methods:{
            destroy(){
                console.log(modal)
                $(this.$el).on('hidden.bs.modal', function (e) {
                    $(this.$el).modal('dispose');
                })
            }
        },
        mounted: function () {
            var self = this;
            // console.log(this.$el)
            $(this.$el).modal()
            /* $(this.$el).datepicker({
                dateFormat: this.dateFormat,
                onSelect: function (date) {
                    self.$emit('update-date', date);
                }
            }); */
        },
    }
</script>
