@import './bootstrap/bootstrap';
@import '_variable';
@import '_mixins';
@import '_header';
@import '_page_title';
@import '_content';
@import '_sidebar';
@import '_post';
@import '_footer';
@import '_pace_loader';
@import '_helper';
@import '_component_list';
@import '_responsive';
@import 'theme/_black';

/* Reset and overrides */

body {
    background: @bg_body;
    font-family: @body_font_family;
    color: @body_text_color;
    font-size: @body_font_size;
}
.ie8 body {
    font-family: @ie8_body_font_family;
}
