/* Default Theme (Green) */

.brand-logo {
    border-color: rgb(183, 201, 201) rgb(136, 167, 167) rgb(105, 116, 116);
}
a,
.sidebar-social-list > li a:hover,
.sidebar-social-list > li a:focus,
.navbar .nav.navbar-nav > li.active > a, 
.navbar .nav.navbar-nav > li > a:focus, 
.navbar .nav.navbar-nav > li > a:hover {
    color: @black;
}
a:hover,
a:focus {
    color: @light_black;
}
.pace-progress {
    background: @black;
}
.pace .pace-activity {
    border-top-color: @black;
    border-left-color: @black;
}