<template>
    <div class="row">
        <div class="col-12">
            <form>
                <p>Form Edit User</p>
                <div class="form-group row">
                    <label class="col-lg-2 col-form-label">Email</label>
                    <div class="col-lg-10">
                        <input type="email" placeholder="Email" class="form-control" v-model="email">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-2 col-form-label">Name</label>
                    <div class="col-lg-10">
                        <input type="text" placeholder="Name" class="form-control" v-model="name">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-2 col-form-label">Password</label>
                    <div class="col-lg-10">
                        <input type="password" placeholder="Password" class="form-control" v-model="password">
                    </div>
                </div>
                
                <div class="form-group row">
                    <div class="col-lg-offset-2 col-lg-10">
                        <button class="btn btn-sm btn-primary" @click="saveData" type="button">Save</button>
                        <button class="btn btn-sm btn-white" @click="hideForm" type="button">Cancel</button>
                    </div>
                </div>
                
            </form>
            <hr class="hr-line-solid">
        </div>
        <div class="col-12">
            <div class="alert alert-info alert-dismissable fadeOut" v-show="alert">
                <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                <h3>Sukses....Insert Data {{ name }}</h3><a class="alert-link" href="#">.....Bye</a>.
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        props: ['frmData'],
        data(){
            return {
                selectRole:null,
                role:'',
                email:'',
                name:'',
                password:'',
                alert:false,
                postUrl:'/system/user_manager/insert'
            }
        },
        methods: {
            saveData() {
                let insertData = {
                                    'email':this.email,
                                    'name':this.name,
                                    'password':this.password
                                }
                let that = this;
                axios.post(this.postUrl,insertData)
                    .then(function (response) {
                        // that.$refs.tableUser.getData()
                        // console.log(response)
                        that.alert = true;
                        that.email = '';
                        that.name = '';
                        that.password = '';
                        setTimeout(function () {
                            that.alert = false
                        }, 3000);
                        that.$emit('succsess', true);
                    })
                    .catch(function (error) {
                        console.log(error)
                    })
            },
            hideForm(){
                // this.option.frmInsert
                // this.$emit('option.frmInsert',false)
                this.$emit('childToParent', false)
            }
        },
        mounted: function () {
            this.$nextTick(function () {
                let that = this;
                axios.get('/system/user_manager/get_permission')
                    .then(function (response) {
                        // console.log(response.data)
                        let role = []
                        response.data.role.forEach(element => {
                            role.push({id:element.id,name:element.name})
                        });
                        that.selectRole = role;
                        // console.log(role)
                        // setTimeout(function () {
                        //     that.alert = false
                        // }, 3000);

                    })
                    .catch(function (error) {
                        console.log(error)
                    })
            })
        },
        watch: {
            selectRole:function(val, oldVal) {
                console.log('new: %s, old: %s', val, oldVal)
            }
        },
    }

</script>
