<template>
    <div class="row">
        <div class="col-12">
            <form>
                <p>Form Edit User</p>
                <div class="form-group row">
                    <label class="col-lg-2 col-form-label">Email</label>
                    <div class="col-lg-10">
                        <input type="email" placeholder="Email" class="form-control" v-model="frmData.email">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-2 col-form-label">Name</label>
                    <div class="col-lg-10">
                        <input type="text" placeholder="Email" class="form-control" v-model="frmData.name">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-lg-offset-2 col-lg-10">
                        <button class="btn btn-sm btn-primary" @click="saveData" type="button">Save</button>
                        <!-- <button class="btn btn-sm btn-white" type="button">Cancel</button> -->
                    </div>
                </div>
            </form>
            <hr class="hr-line-solid">
        </div>
        <div class="col-12">
            <div class="alert alert-info alert-dismissable fadeOut" v-show="alert">
                <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                <h3>Sukses....Update Data</h3><a class="alert-link" href="#">.....Bye</a>.
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        props: ['frmData'],
        data(){
            return {
                alert:false,
                postUrl:'/system/user_manager/update'
            }
        },
        methods: {
            saveData() {
                // console.log(this.frmData)
                let that = this;
                axios.post(this.postUrl, {
                        params: this.frmData
                    })
                    .then(function (response) {
                        // console.log(response)
                        that.alert = true;
                        setTimeout(function () {
                            that.alert = false
                        }, 3000);
                    })
                    .catch(function (error) {
                        console.log(error)
                    })
            }
        },
    }

</script>
